


<div class="container">

  <div class="row">
    <div class="col-md-offset-1 col-md-11">
      <h1>Blog</h1>
    </div>
  </div>



  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12">

      <div class="blog-slider">
        <flex-slider class="carousel" slide="s in blogs track by $index" animation="slide" item-width="335">
          <li auto-heightfixed>
            <div class="blogs-details">
              <div class="blog-image">
                <img src="{{s}}" class="img-responsive" alt="blog-image">
              </div>
              <div class="blog-info">
                <p>Healthy Communication for a Healthier ROI</p>
              </div>
            </div>
          </li>
        </flex-slider>
      </div>

    </div>
  </div>

  <div class="pen-stand">
    <img src="img/home-page/pen-stand.png" class="img-responsive" alt="" />
  </div>


</div>

<div class="testimonials">


  <h1 class="no-margin">Testimonials</h1>
  <a type="button" class="btn btn1 view-all" name="viewall">view all</a>
  <div class="slider">
    <flex-slider flex-slide="s in testimon track by $index" animation="slide" item-width="1000">
      <li auto-heightfixed>
        <p class="relative">{{s.para}} <span class="yellow">{{s.name}}</span></p>

      </li>
    </flex-slider>
  </div>


</div>
