<!--<div class="testimonials">
  <h1>Testimonials</h1>
  <a type="button" class="btn btn1 view-all" name="viewall">view all</a>
  <div class="slider">
    <flex-slider flex-slide="s in testimon track by $index" animation="slide" item-width="700">
      <li auto-heightfixed>
        <p class="relative">{{s.para}} <br><span class="yellow">{{s.name}}</span></p>
      </li>
    </flex-slider>
  </div>
</div>
<div class="pen-stand">
  <img src="img/home-page/pen-stand.png" class="img-responsive" alt="" />
</div>-->
<div class="testimonials">
  <div class="test-vw">
    <h1 class="no-margin">Testimonials</h1>
    <a type="button" class="btn btn1 view-all" name="viewall">view all</a>
  </div>
  <div class="slider">
    <flex-slider flex-slide="s in testimonial track by $index" animation="slide" item-width="1000">
      <li auto-heightfixed>
        <div class="relative" ng-bind-html="s.content | rawHtml"></div>
        <span class="yellow" ng-bind-html="s.name | rawHtml"></span>
      </li>
    </flex-slider>
  </div>
</div>
<div class="shd hidden-sm hidden-xs">
</div>
<div class="shd1 hidden-sm hidden-xs">
</div>
<div class="pen-stand">
  <img src="img/home-page/pen-stand.png" class="img-responsive" alt="" />
</div>
