<div class="container" >
  <dic class="section1">
    <div class="row">
      <div class="col-md-offset-1 col-md-7">
        <h1>What we do</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-5 col-sm-10 space-top">
        <p>
            Content marketing is evolving even before you can #tweet about it. With changing consumer preferences and the way people consume media, what you communicate with your present and the future audience has to be ‘served right’! Just the way you don’t feed grass to a lion [*unless it’s weed], your content has to be relevant for your audience.
        </p>
        <p>
            In fact, if there’s anything #content should be able to do, it would be to make it difficult for people to steer away from it. It has to inspire, connect & engage. At Yellow Seed, we believe in doing just that with a dollop of #awesomeness!
        </p>
        <!-- <p>
          Here’s what’s in store
        </p> -->
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12 no-padding">
        <div class="circle-cont circle-center">

          <div class="row services-badge">
            <div class="col-md-4 col-xs-6">
              <a ui-sref="content-strategy">
                <figure>
                  <img src="img/home-page/content.png" alt="" class="img-responsive">
                </figure>
                <figcaption class="text-center">Content Strategy <br>&amp; Wisdom</figcaption>
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a ui-sref="digital">
                <figure>
                  <img src="img/home-page/digital.png" alt="" class="img-responsive">
                </figure>
                <figcaption class="text-center">Digital</figcaption>
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a ui-sref="branded-content">
                <figure>
                  <img src="img/home-page/branded.png" alt="" class="img-responsive">
                </figure>
                <figcaption class="text-center">Branded Content</figcaption>
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a ui-sref="internal-communication">
                <figure>
                  <img src="img/home-page/corporate.png" alt="" class="img-responsive">
                </figure>
                <figcaption class="text-center">Internal Communications</figcaption>
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a ui-sref="the-studio">
                <figure>
                  <img src="img/home-page/studio.png" alt="" class="img-responsive">
                </figure>
                <figcaption class="text-center">The Studio</figcaption>
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a ui-sref="design">
                <figure>
                  <img src="img/home-page/design.png" alt="" class="img-responsive">
                </figure>
                <figcaption class="text-center">Design</figcaption>
              </a>
            </div>
          </div>

          <!-- <ul class="list-inline img-list ">
          <li>
            <a ui-sref="content-strategy">
              <div class="circle relative">
                <img src="img/home-page/1-Content-Strategy.png" class="img-responsive doneLoading" alt="">
                <span class="text-content" ui-sref="content-strategy">Content <br>Strategy <br>&amp; Wisdom</span>
              </div>
            </a>
          </li>
          <li>
            <a ui-sref="digital">
              <div class="circle relative">
                <img src="img/home-page/2-Digital.png" class="img-responsive" alt="" />
                <span class="text-content" ui-sref="digital">Digital</span>
              </div>
            </a>
          </li>
          <li>
            <a ui-sref="branded-content">
              <div class="circle relative">
                <img src="img/home-page/brandedcontent.png" class="img-responsive" alt="" />
                <span class="text-content">Branded<br> Content</span>
              </div>
            </a>
          </li>

          <li>
            <a ui-sref="internal-communication">
              <div class="circle relative">
                <img src="img/home-page/4-Internal-Communication.png" class="img-responsive" alt="" />
                <span class="text-content">Corporate Communications</span>
              </div>
            </a>
          </li>
          <li>
            <a ui-sref="the-studio">
              <div class="circle relative">
                <img src="img/home-page/5-Media-Center.png" class="img-responsive" alt="" />
                <span class="text-content">The<br> Studio</span>
              </div>
            </a>
          </li>
          <li>
            <a ui-sref="design">
              <div class="circle relative">
                <img src="img/home-page/design.png" class="img-responsive" alt="" />
                <span class="text-content">Design</span>
              </div>

            </a>
          </li>

        </ul> -->
        </div>
        <!-- <div class="circle-cont circle-center visible-xs mobile-circle visible-sm sm-set">
          <ul class="list-inline img-list pd10">
            <li>
            <a ui-sref="content-strategy">
              <div class="circle relative">
                <img src="img/home-page/1-Content-Strategy.png" class="img-responsive doneLoading" alt="">
                <span class="text-content" ui-sref="content-strategy">Content <br>Strategy <br>&amp; Wisdom</span>
              </div>
            </a>
          </li>
            <li>
              <a ui-sref="digital">
                <div class="circle relative">
                  <img src="img/home-page/2-Digital.png" class="img-responsive" alt="" />
                  <span class="text-content" ui-sref="digital">Digital</span>
                </div>
              </a>
            </li>
            <li>
              <a ui-sref="branded-content">
                <div class="circle relative">
                  <img src="img/home-page/brandedcontent.png" class="img-responsive" alt="" />
                  <span class="text-content">Branded<br> Content</span>
                </div>
              </a>
            </li>

            <li>
              <a ui-sref="internal-communication">
                <div class="circle relative">
                  <img src="img/home-page/4-Internal-Communication.png" class="img-responsive" alt="" />
                  <span class="text-content">Corporate Communications</span>
                </div>
              </a>
            </li>
            <li>
              <a ui-sref="media">
                <div class="circle relative">
                  <img src="img/home-page/5-Media-Center.png" class="img-responsive" alt="" />
                  <span class="text-content">The<br> Studio</span>
                </div>
              </a>
            </li>
            <li>
            <a ui-sref="design">
              <div class="circle relative">
                <img src="img/home-page/design.png" class="img-responsive" alt="" />
                <span class="text-content">Design</span>
              </div>
            </a>
          </li>

          </ul>
        </div> -->
      </div>
    </div>
</div>
</div>
<div><img src="img/home-page/wedo.png" class="img-responsive"></div>
<!-- <div class="chasma">
  <img src="img/home-page/chasma.png" class="img-responsive" alt="" />
</div> -->
<!-- <div class="pinpaper">
  <img src="img/home-page/pinpaper.png" class="img-responsive" alt="" />
</div> -->