<div class="container">

  <div class="row">
    <div class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5">
      <h1>
        Workshops
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-6">
      <p>
        We believe, what one creates or accumulates over a period of time, must be passed on and this holds true even for knowledge.
        We regularly conduct masterclasses and workshops where aspiring and enthusiastic professionals can benefit from our
        expertise in content strategy & development. This also serves as a platform to learn and share ideas, thereby fostering
        creativity. Sow a seed and watch the idea grow!
      </p>
      <a type="button" class="btn btn2" name="knowmore">know more</a>
    </div>
    <div class="col-md-4 col-sm-5 col-xs-5">
      <div class="crack">
        <ul>
          <li><a href="">Cracking the Content Brief</a></li>
          <li><a href="">Creative Writing</a></li>
          <li><a href="">Out of the Box</a></li>
          <li><a href="">Visual Communication</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>

<div class="note-book">
  <img src="img/home-page/note-book.png" class="img-responsive" alt="" />
</div>

<div class="pencil">
  <img src="img/home-page/pencil.jpg" class="img-responsive" alt="" />
</div>

<div class="coffee">
  <img src="img/home-page/coffee.png" class="img-responsive" alt="" />
</div>
