<div class="container">

  <div class="row">
    <div class="col-md-offset-1 col-md-7">
      <h1>What we do</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-3 col-sm-10">
        <p>
          Content marketing is evolving even before you can #tweet about it. With changing consumer preferences and ways of interacting with brands, what you communicate to your present and future audience has to be relevant and dynamic.
        </p>
        <p>
          In fact, if there’s anything content should be able to do, it would be to make it difficult for people to steer away from it. It has to inspire, connect & engage. At Yellow Seed, we believe in doing just that.
        </p>
        <p>
          Here’s what’s in store
        </p>
    </div>
    <div class="col-md-7 no-padding">

      <div class="circle-cont">
        <ul class="list-inline img-list">
          <li>
            <a href="">
            <div class="circle relative">
                <img src="img/home-page/001.png" class="img-responsive doneLoading" alt="">
                <span class="text-content">Content <br>Strategy <br>&amp; Wisdom</span>
            </div>
            </a>
          </li>
          <li>
            <a href="">
            <div class="circle relative">

                <img src="img/home-page/002.png" class="img-responsive" alt="" />
                <span class="text-content">Digital</span>

            </div>
            </a>
          </li>
          <li>
            <a href="">
            <div class="circle relative">

                <img src="img/home-page/003.png" class="img-responsive" alt="" />
                <span class="text-content">Branded Content</span>

            </div>
            </a>
          </li>
        </ul>
        <ul class="list-inline img-list">
          <li>
            <a href="">
            <div class="circle relative">

                <img src="img/home-page/004.png" class="img-responsive" alt="" />
                <span class="text-content">Internal Communications</span>

            </div>
            </a>
          </li>
          <li>
            <a href="">
            <div class="circle relative">

                <img src="img/home-page/005.png" class="img-responsive" alt="" />
                <span class="text-content">Media <br>Centre</span>

            </div>
            </a>
          </li>
          <li>
            <a href="">
            <div class="circle relative">

                <img src="img/home-page/006.png" class="img-responsive" alt="" />
                <span class="text-content">Design</span>

            </div>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>

<div class="chasma">
  <img src="img/home-page/chasma.png" class="img-responsive" alt="" />
</div>

<div class="pinpaper">
  <img src="img/home-page/pinpaper.png" class="img-responsive" alt="" />
</div>
