<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-11">
            <div class="relative">
                <h1>Blog</h1>
                <a type="button" class="btn btn2 btns" name="knowmore" ui-sref="blog">read more</a>
                <div class="blog-arrow"><img src="img/home-page/blog-arrow.png"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-sm-10 col-sm-offset-1 col-xs-12 mgt24">
            <div class="blog-slider">
                <flex-slider flex-slide="s in blog track by $index" animation="slide" slideshow="false" item-width="305" item-margin="15" move="3">
                    <li auto-heightfixed class="">
                        <a ng-click="inIndividualBlog(s._id,s.name)">
                            <div class="blogs-details">
                                <div class="blog-image">
                                    <img ng-src="{{s.image|uploadpath}}" class="img-responsive" alt="blog-image">
                                </div>
                                <div class="blog-info">
                                    <p class="name-text">{{s.name|shorten : 50}}</p><br>
                                    <p class="content-text" ng-bind-html="s.content | shorten :240 | rawHtml"></p>
                                </div>
                            </div>
                        </a>
                    </li>
                </flex-slider>
            </div>
        </div>
    </div>
    <!--<div class="pen-stand">
        <img src="img/home-page/pen-stand.png" class="img-responsive" alt="" />
    </div>-->
</div>