<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-11">
            <div class="relative">
                <h1>Blog</h1>
                <a type="button" class="btn btn2 btns" name="knowmore" ui-sref="blog">know more</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-sm-10 col-sm-offset-1 col-xs-12">
            <div class="blog-slider">
                <flex-slider class="carousel" slide="s in blog track by $index" animation="slide" item-width="310">
                    <li auto-heightfixed>
                        <a ui-sref="individual-blog({id:s._id})">
                            <div class="blogs-details">
                                <div class="blog-image">
                                    <img ng-src="{{s.image|uploadpath}}" class="img-responsive" alt="blog-image">
                                </div>
                                <div class="blog-info">
                                    <p>{{s.name|shorten : 60}}</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </flex-slider>
            </div>
        </div>
    </div>
    <!--<div class="pen-stand">
        <img src="img/home-page/pen-stand.png" class="img-responsive" alt="" />
    </div>-->
</div>
