<div class="head-img-banner"   ng-style="{'background':'url('+home.banner+')no-repeat','background-size':'cover','background-position':'center center'}">
  <!-- <img src="img/inside-pages/top-bg.jpg" alt=""> -->
  <div class="head-tag text-center">
    <h2 class="lighter">
      Every brand has a story to tell.
    </h2>
    <h2>
      Only the wise have theirs well-articulated.
    </h2>
  </div>

  <div class="scroll-down">
    <a href="">
      <img src="img/home-page/scroll-down.png" class="img-responsive" alt="" />
    </a>
  </div>

</div>
