<div class="container">

  <div class="row">
    <div class="col-md-offset-6 col-md-6 col-sm-offset-4 col-sm-6  col-xs-12 pl10">
      <h1 class="mobile-head">
        Brainwave
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-4 col-sm-6 col-xs-5">
      <div class="spee-blg">
        <ul>
          <li ui-sref="brainwave">Speed Blogging</li>
          <li ui-sref="brainwave">Tweetathon</li>
          <li ui-sref="brainwave"> Content Connect</li>
        </ul>
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-6">

      <p class="mr40">
        We’re not really into blowing our own trumpet too loud. It’s just the way we are. But then, we’ve done some pretty awesome
        stuff in the last few years. Here’s a peek.
      </p>
      <!-- <a type="button" class="btn btn2" name="knowmore" ui-sref="brainwave">know more</a> -->
    </div>
  </div>


</div>
<!-- <div class="imac">
  <img src="img/home-page/imac.png" class="img-responsive" alt="" />
</div> -->
<!-- <div class="tree">
  <img src="img/home-page/tree.png" class="img-responsive" alt="" />
</div> -->
