<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-4">
      <h1>
        Contact
      </h1>

    </div>

  </div>.

  <div class="row">
    <div class="col-md-offset-1 col-md-4">
      <p>
        We like to see ourselves as explorers. Our constant search for quality and our commitment towards creating dazzling content
        is what has made us what we are today. If you find a little bit of us in you, it would be an amazing idea to work
        together!
      </p>
      <div class="info">
        <p>
          To begin a conversation,<br> call us on <a href="tel:+91 77 3839 2744">+91 98923 38317</a> or <br> write to us
          at <a class="yellow" href="mailto:contact@itsyellowseed.com">contact@itsyellowseed.com</a>
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="">
        <input type="text" name="name" value="" placeholder="Name">
        <input type="text" name="email" value="" placeholder="Email">
        <input type="text" name="mobile" value="" placeholder="Mobile No.">
      </div>
    </div>
    <div class="col-md-3">
      <textarea name="summary" rows="4" cols="40" placeholder="Summary"></textarea>
      <a type="button" class="btn btn2 pull-right" name="submit">Submit</a>
    </div>
  </div>

</div>

<div class="con-top">
  <img src="img/home-page/yseed-top.png" class="img-responsive" alt="" />
</div>
