<div class="container">
    <div class="relative">
  <div class="row">
      <div class="col-md-offset-1 col-md-4 col-xs-12 col-sm-12"> 
        <h1 ng-show="showHead1" class="partner-h1">
          Clients
        </h1>
        <h1 ng-show="showHead2" class="partner-h1">
          Our Partnerships
        </h1>
        <p>
            Since our inception, we’ve worked on a plethora of sectors and brands, often over a sustained period of time. We do respect confidentiality &amp; that’s why all we can say is that there is more to us than meets the eye.
        </p>
        <!-- <p>
        Write to us at <a href="mailto:contact@itsyellowseed.com">contact@itsyellowseed.com</a> for a detailed credential
        presentation or work samples.
       </p> -->
        <p class="view btn btn-primary" ng-if="showHead1" ng-click="showHeading1();">
          Partnerships
        </p>
        <p class="view btn btn-primary" ng-if="!showHead1" ng-click="showHeading2();">
          Clients
        </p>
      <!-- <div class="shakehand"><img src="img/home-page/shakehand.png"></div> -->
      </div>
      <div class="col-md-7 col-xs-12 col-sm-12">
        <div class="brands">
          <div class="client-slider visible-xs">
            <flex-slider ng-if="showHead1" class="carousel" flex-slide="img in clientxs track by $index" item-width="1200" item-margin="10"
              animation="slide" animation-loop="false" as-nav-for="#slider" slide-show="false">
              <li>
                <div class="client-imgholder">
                  <div class="row bord-cus" ng-repeat="row in img track by $index">
                    <div class="col-xs-6 bord-cus1" ng-repeat="clientimg in row track by $index">
                      <div class="img-holder listing">
                        <img ng-src="{{clientimg.logo|uploadpath}}" alt="" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </flex-slider>
            <flex-slider ng-if="!showHead1" class="carousel" flex-slide="img in partnersxs track by $index" item-width="1200" item-margin="10"
              animation="slide" animation-loop="false" as-nav-for="#slider" slide-show="false">
              <li>
                <div class="client-imgholder">
                  <div class="row bord-cus" ng-repeat="row in img track by $index">
                    <div class="col-xs-6 bord-cus1" ng-repeat="partnerimg in row track by $index">
                      <div class="img-holder listing">
                        <img ng-src="{{partnerimg.logo|uploadpath}}" alt="" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </flex-slider>
          </div>
          <!--{{partnersxs}}-->
          <div class="client-slider hidden-xs">
            <!-- console.log(client); -->
            <flex-slider ng-if="showHead1" flex-slide="img in client track by $index" item-width="1200" item-margin="10" animationLoop="false" as-nav-for="#slider1" slideshow="false">
              <li>
                <div class="client-imgholder">
                  <div class="row bord-cus" ng-repeat="row in img track by $index">
                    <div class="col-sm-4 bord-cus1" ng-repeat="clientimg in row track by $index">
                      <div class="img-holder listing">
                        <img ng-src="{{clientimg.logo|uploadpath}}" alt="" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </flex-slider>
            <flex-slider ng-if="!showHead1" flex-slide="img in partners track by $index" item-width="1200" item-margin="10" animationLoop="false" slideshow="false">
              <li>
                <div class="client-imgholder">
                  <div class="row bord-cus" ng-repeat="row in img track by $index">
                    <div class="col-xs-4 bord-cus1" ng-repeat="partnerimg in row track by $index">
                      <div class="img-holder listing">
                        <img ng-src="{{partnerimg.logo|uploadpath}}" alt="" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </flex-slider>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>