<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-5">
      <div class="wait">
        <h3>
          Wait! Why Yellow Seed?
        </h3>
        <p>
          Well, the colour yellow inculcates optimism and positive energy. It sparks creative thoughts which spring through that little
          seed, stimulating development. Yup. It’s that simple. Our team of talented individuals are believers and idea smiths,
          who love what they do! An incessant drive for quality backed by experience is what brings out the best in us. With
          originality and spontaneity being our most valued attributes, our <strong>culture and the
          Yellow Seed <span class="pointer" ng-click="changeURL('wedo')">way of doing things</span></strong> is sure to surprise
        </p>
        <p>
          If you'd like to know more, here's a bit about the founders.
        </p>
        <a type="button" class="btn btn1" name="knowmore" ui-sref="we-believe">know more</a>
      </div>
    </div>
    <div class="col-md-5">
      <div class="blogs">
        <div class="circle1">
          <img src="img/home-page/ashutosh-katre.png" class="img-responsive" alt="">
        </div>
        <div class="prof">
          <label>
            Aashutosh Katre
          </label>
          <p>
            Aashutosh Katre | Foodie. Auto buff. Creative Bug. A serial entrepreneur with experience in advertising, hospitality and
            events. Often found discussing ideas while enjoying a & cutting chai & munching ‘Vada pav’ #ForgetTheDiet
          </p>
          <div class="soc-sml-icons">
            <a target="_blank" href=" https://twitter.com/aashutoshkatre">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a target="_blank" href=" https://www.linkedin.com/in/aashutoshkatre?authType=OPENLINK&authToken=Imox&locale=en_US&srchid=489041161478602636755&srchindex=1&srchtotal=1&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A489041161478602636755%2CVSRPtargetId%3A33987499%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3AOPENLINK">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="blogs">
        <div class="circle1">
          <img src="img/home-page/asif-upadhye.png" class="img-responsive" alt="">
        </div>
        <div class="prof">
          <label>
            Asif Upadhye
          </label>
          <p>
            Asif Upadhye | Masters in Advertising and Communications with over a decade of experience panning Marketing, Brand Communications,
            Talent Management, ‘Pet Pujari’ and ‘Kaan-sen’. Most likely to be found drooling over action figures and comic
            books. #NeverGrowUp
          </p>
          <div class="soc-sml-icons">
            <a target="_blank" href="https://twitter.com/AsifUpadhye">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a target="_blank" href=" https://www.linkedin.com/in/asifupadhye?authType=NAME_SEARCH&authToken=Ljo5&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A7098787%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1478602680930%2Ctas%3Aasif">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="right-arrow">
  <img src="img/home-page/right-arrow.png" class="img-responsive" alt="" />
</div>
<div class="ipad">
  <img src="img/home-page/Ipad1.png" class="img-responsive" alt="" />
</div>
