<div class="contact-bg">
    <img src="img/contact.jpg" class="img-responsive">
    <div class="man-image">
        <img src="img/contact-man.png" class="img-responsive">
        <div class="small-circle" ng-click="showDropdown();"></div>
    </div>
</div>
<div class="dropdown-info" ng-if="showList">
    <div class="container">
        <div class="para-bottom">
            <p>
                Just when you thought we were done, here’s an original story through the ages.
            </p>
            <h4><strong>Chapter 1 | Jango and The Context [Building The Story]</strong></h4>
            <p>As he pressed on the ‘Green’ button, the machine swished through the air and into the sinkhole. It went swirling
                through the ground dredging a rabbit hole deeper than expected. After what seemed an eternity, the time machine
                erupted to the surface in a room filled with an odd bunch of characters.</p>
        </div>
        <p class="para-bottom">The writer belonging to a <strong>copywriting</strong> and <strong>marketing agency</strong>, to be specific-a <strong>digital marketing agency in Mumbai</strong>,
            stopped the machine and signalled Alexander Graham Bell to step out of the capsule. Django had been part of the
            <strong>content management</strong> universe for quite some time now and till this date, wondered what on earth
            was he doing in a capsule such as this - transporting men from a different era to this plain. His desk at the
            <strong>digital marketing agency</strong> where he worked at was such a haven. Peaceful. All he could think was
            of <strong>content creation</strong> and <strong>content development</strong>. He could concentrate on his writing
            and churn out such wonderful pieces. Indeed, he had a knack for some great <strong>content creation</strong>.</p>
        <p class="para-bottom">
            Alexander Graham Bell was his last passenger whom he got into the room. Out stepped the old man with nothing but a blank
            stare on his face.
        </p>
        <p class="para-bottom">
            “This way please,” Django insisted. He led Alexander Graham Bell in a room that led to the auditorium. Interestingly, the
            place was filled with world greats such as Karl Marx, Chanakya, Guttenberg, Leonardo Da Vinci, Christopher Columbus,
            Socrates, Alexander, William Shakespeare, and Alexander Graham Bell. An auditorium-like space was new for Django
            unlike the subtle décor of a <strong>digital marketing company in India</strong>. In fact, no <strong>digital marketing agency in Mumbai</strong>            came close to what the place looked like.
        </p>
        <p class="para-bottom">
            “Welcome all,” Django replied. “We invite you to be a part of this congregation.” Django was into <strong>content marketing</strong>            at a <strong>digital marketing company India</strong> for quite a few years now. <strong>Content marketing</strong>            had introduced him to a whole new world of words and vocabulary. <strong>Copywriting</strong> had improved his
            vocabulary to a great extent. He knew now when to use words such as ‘congregation’. #LOL
        </p>
        <p class="para-bottom">
            The current agency he was working with had appointed him for a special ‘Top Secret’ mission. He was to travel back in time
            and teleport nine famous personalities across centuries to present times and introduce them to the magic of content
            marketing.
        </p>
        <div class="para-bottom">
            <h4>
                <strong>Chapter 2 | The Story Unfolds.</strong>
            </h4>
            <p>“You must be wondering where you are? And why have you gathered here?”<br> “By the way. Did you enjoy the ride?”
                Django asked expectantly, waiting for an answer.<br> The nine great personalities standing in front of him
                were equally astounded and looked grumpy. Django asked each one of them to be seated at the tables placed
                at different locations.
            </p>
        </div>
        <div class="para-bottom">
            <h5>The Challenges in Building a Progressive Start-Up Culture</h5>
            <p>The culture of an establishment comes from its people. The entire team resonates this culture and to ensure that
                it is healthily built, there are four steps to pave the way. One – Treating your employees as equals. Everyone’s
                opinion counts. It’s important to let people know that they are a part of the decision-making process.<br>                Two - Define your start-up culture with a strong EVP. S.P.E.L.L it out. What is it that defines you as an
                organization? What is your culture? What do you expect from the team as a whole? The answers to these questions
                need to be laid out clearly.
            </p>
            <p>“We have food, drinks and desserts as refreshments for you.” </p>
        </div>
        <p class="para-bottom">
            The young <strong>creative content writer</strong> from a <strong>digital marketing company in India</strong>            wondered what the bigger challenge would be, to address the congregation or to explain the circumstance of the
            gathering. How he missed the regular banter of the people at several other <strong>digital agencies in Mumbai</strong>            and <strong>digital marketing companies in Mumbai</strong>. As he mustered the courage to start the discussion,
            Karl Marx interjected, “This isn’t the most comfortable experience and your hesitation isn’t helping any of us
            calm down either. May we know what’s the matter?” asked the man with a full shock of salt pepper hair and beard,
            dressed in overcoats and thick trousers, an attire befitting a Professor.
        </p>
        <p class="para-bottom">
            “Nothing, Karl. It’s a unique moment for mankind and I am at a loss for words”, replied Django.
        </p>
        <p class="para-bottom">
            “Might I suggest that there’s no substitute for blunt honesty, neither in the past nor in the probable future”, said the
            burly Professor.
        </p>
        <p class="para-bottom">
            Django smiled and started pacing on the stage. Chanakya, with a hint of irritation, added, “You have led us through a rabbit
            hole, interrupted our daily affairs, and brought us to this place? Who are you and what are your intentions,
            young man?”
        </p>
        <p class="para-bottom">
            Django, stared at the gentleman for a while, when Socrates interrupted his thoughts saying, “You see, we seem to be old-fashioned,
            but our curiosities know no bounds. Besides, we have a boundless appetite for learning, especially the Indian
            Orator.”
        </p>
        <p class="para-bottom">
            He occupied his seat, right next to Chanakya who had a grim expression while glancing fleetingly at Gutenberg, who sat opposite
            to him. Django finally mustered the courage to reply, “Gentlemen, I have to confess that it is a pleasure to
            speak in the company of the most learned men throughout the history of mankind. I am Django, and this is the
            21st century. I am employed at a <strong>digital marketing agency in Mumbai</strong> and freelance
            with other <strong>digital agencies in Mumbai as a Content Strategy consultant</strong>. We have gathered here
            to embark on a journey that will change the future course of civilization. I understand that communication has
            been an important part of our lives, be it in propounding theories in the field of political science or theology,
            even philosophy. However, in the current age, the game of <strong>content management</strong> and marketing has
            changed. Earlier, you would find an audience of thousands, maybe hundreds of thousands. Now, your ideas can spread
            all over the world to create an effect on billions of lives.”
        </p>
        <p class="para-bottom">
            “Nice speech. But why us and why now?” questioned Alexander, eyeing Django with a piercing look who responded “Let me start
            with Johannes Gutenberg, the inventor of the printing press. For the first time, man could create multiple copies
            of expressed ideas and distribute it across continents. This was the beginning of <strong>content marketing</strong>            and <strong>content strategy</strong>. What started as a means of communication through <strong>copywriting</strong>            has now transformed into <strong>digital communication</strong>, aided by the <strong>development of social media content</strong>,”
            replied Django.
        </p>
        <p class="para-bottom">
            “I do not understand any of these terms. What nonsense! Why are we here again; Mi Lord?”, confessed Shakespeare.
        </p>
        <p class="para-bottom">
            “I was getting to it. In brief, if you had to communicate with your audience thousands of miles away, you can now do so with
            the help of a machine similar to a printing press, much smaller and with a greater ability to produce manuscripts
            and distribute it across the globe. Every individual with this machine can access these manuscripts. These individuals
            are connected to each other with the help of social media, a platform where you can ‘post’ <strong>social media content</strong>            like your lectures, your thoughts, essays, and even pictures. Let me show you how.”
        </p>
        <p class="para-bottom">
            Django took out his phone and clicked a selfie with the gentlemen. Posting it on his Instagram profile, Django explained,
            “I have now posted this picture on a social media platform, Instagram, and every individual, <strong>digital marketing
            company, social media marketing agency</strong> and <strong>content writing firm</strong> can see it. With an
            astute strategy and planning, any content format can be posted ‘online’, where the whole world can view them.”
        </p>
        <p class="para-bottom">
            “So, if I had to deliver a lecture on political science, I could just write it down and ‘post’ it using digital media marketing?
            What other content formats are we talking about?”, asked Chanakya.
        </p>
        <p class="para-bottom">
            “You can record a video, which is a collection of moving pictures with sound, and post it on YouTube. You can post your sayings
            on Twitter, create a collection of sayings and create a ‘page’ on Facebook. You can use the services of <strong>digital
                marketing agencies</strong> or <strong>digital marketing agency</strong> and <strong>ad agencies</strong>            who can help with <strong>content development, content creation, content management</strong>, compile your discourses
            and post them on social media platforms. The end goal is to attract ‘followers’ from all over the world who go
            through your content, over and over again and come up with a <strong>content marketing strategy</strong> from
            <strong>digital marketing agencies</strong> to retain them.”
        </p>
        <p class="para-bottom">
            “This is incredible”, mused Gutenberg, who had been listening attentively all this time. “Can we ‘post’ entire books, creating
            a library on these platforms?”
        </p>
        <p class="para-bottom">
            “Yes. In fact, books are already converted into ‘digital copies’ and stored as <strong>‘ebooks’</strong>, where
            the entire corpora can be accessed by anyone in the world. Karl Marx’s economic theories and treatises are one
            of the most downloaded <strong>‘ebooks’</strong> worldwide. Just in case if you are wondering what are <strong>ebooks</strong>?
            They are a digital version of a book.”
        </p>
        <p class="para-bottom">
            Django paused for a moment, recollecting what Marx had said earlier about honesty. There was nothing that could be concealed
            from the shrewd minds of antiquity. “I will get to that point straightaway. With the emergence of social media
            platforms and their vast repository of information, it has become increasingly difficult to preserve ideas, engage
            in <strong>content curation</strong> and <strong>content marketing strategy</strong> and attract
            the right audiences. In a multitude of theories and concepts, in this void of information overload, I plan to
            immortalise your ideas, so that our posterity may cherish them.
        </p>
        <p class="para-bottom">
            We have a way of doing this. We learn our audience’s behaviour, the choices they make, the content they view the most, and
            provide them with what they want the most. We can create <strong>SEO Content</strong>, which contains
            keywords used by people to search for content online. I know of a <strong>content agency</strong> that is willing
            to provide <strong>content services</strong> and <strong>content marketing strategies</strong> for <strong>SEO content</strong>            that will help us connect with our viewers. I know of <strong>web services, a SEO company India or a digital marketing
                agency in Mumbai</strong>.
        </p>
        <p class="para-bottom">
            Django then approached Leonardo Da Vinci. The artist just stared at this guy coming from a <strong>digital marketing agency and a
            digital marketing agency India.</strong>
        </p>
        <p class="para-bottom">
            “You belong to this century because of your futuristic designs and thought processes”, continued Django. “I have seen your
            ‘Salvatore Mundi’ and the ‘Last Supper’ and I feel elated to introduce you to the world of Instagram where you
            can post these colourful designs and work of art.”
        </p>
        <p class="para-bottom">
            Da Vinci wasn’t getting a drift of this but continued staring at Django. He still wasn’t understanding the relevance of terms
            such as <strong>content development</strong> or <strong>digital media marketing</strong>. “Tell me,
            how can I use this Instagram of yours, to promote my art? asked Da Vinci, confused.
        </p>
        <p class="para-bottom">
            ‘Well, Instagram is a free, online, photo-sharing application that allows you to upload and share pictures with your followers,
            in any part of the world. I think your paintings have a lot more potential to be accessible to people at large
            if you post them on Instagram.”
        </p>
        <p class="para-bottom">
            After an hour of explaining the features of Instagram to Da Vinci, Django approached, Christopher Columbus.
        </p>
        <p class="para-bottom">
            “I brought you here to tell us stories about your great travels far and wide across the world,” Django replied.
        </p>
        <p class="para-bottom">
            “But I was at a ceremony. The Queen of Spain was congratulating each one of us for our voyages to the Caribbean, Central
            America and the South Americas when you brought me here,” complained the explorer. “What is this nonsense about
            a <strong>SEO company India</strong> and <strong>digital marketing company in India?</strong>“
        </p>
        <p class="para-bottom">
            “I get that my dear Columbus! But think about the greatest islands, massive mountains and the vast oceans that you must have
            traversed. Don’t you miss the sights that held your eyes to these magnificent visions?”, questioned Bell.
        </p>
        <p class="para-bottom">
            “I do. I regret not bringing them back with me.” Columbus sighed, reminiscing his travels.
        </p>
        <p class="para-bottom">
            “Yes. Of course. But you do know about Instagram, Twitter and several other blogging sites.” Django added further, “What
            if you could record all your voyages/adventures and show it to the entire world? On #YouTube, you can post your
            videos, even while you are on the ship travelling places. Here is my laptop, I am into <strong>content marketing</strong>            and <strong>content marketing services</strong> at a <strong>marketing agency</strong>. You can log into my Instagram,
            Twitter and any of these blogging sites and write about your memoirs. Your recollections will make for great
            <strong>social media content.</strong>”
        </p>
        <p class="para-bottom">
            “Incredible. And look, I can even add filters to my pictures and add these pictures to my tweets. With the assistance of
            <strong>digital media marketing</strong> tools and <strong>digital marketing agency in India</strong> I can do
            so much with these platforms to gain followers.” exclaimed Columbus.
        </p>
        <p class="para-bottom">
            “Wish such <strong>content marketing services</strong> existed at my time.” Columbus sighed. “It is never too
            late to make use of <strong>content marketing services</strong> to expand your reach, my dear fellow,” Django
            assured Columbus.
        </p>
        <p class="para-bottom">
            “You could have even directed films of your exploration and voyages and made <strong>corporate films</strong>            of the same. We could have shown the exhilarating colours of the mountains, oceans, seas, grasslands, people,
            culture and communities,”
        </p>
        <p class="para-bottom">
            “<strong>Corporate films</strong>?” asked Columbus. “But that would need a lot of equipment to produce the movies?
            Wouldn’t it,” Columbus asked with a worried look. “It isn’t such a tedious task, my dear Columbus, they are simply
            an icing on the cake. A <strong>content marketing and development agency</strong> will help you out with them
            too,”
        </p>
        <p class="para-bottom">
            And then we have something called as <strong>whitepapers</strong>, which I started writing few months ago.” Django
            said.
        </p>
        <p class="para-bottom">
            “What are <strong>whitepapers</strong>?” Columbus asked. “<strong>Whitepapers</strong> are an authoritative report
            or guide that educate the readers about a complex topic or issue which requires in-depth research and study.
            They also help in solving problems to a great extent. <strong>Content writing services</strong> in India and
            across the world provide white paper services too.” Django explained.
        </p>
        <p class="para-bottom">
            “Yes. And the views that I would have added to my feed. The waterfalls, the mountains, scenes of the ocean and the sunsets
            from the cliff.” Christopher Columbus exclaimed.
        </p>
        <p class="para-bottom">
            “Are you ready to pen down your experiences now?” Django asked.
        </p>
        <p class="para-bottom">
            All of a sudden, Socrates, Leonardo Da Vinci, William Shakespeare, Alexander seemed suddenly intrigued by the conversation.
            Alexander stood at a distance observing. He seemed sceptical of the conversation that was taking place.
        </p>
        <p class="para-bottom">
            “We used to have talented sculptors in our time who used to carve out exact copies of us in the form of massive structures.
            These services were highly revered then. What is this about <strong>content writing services</strong>            and <strong>digital marketing company in India</strong>?” Alexander, said to himself.
        </p>
        <p class="para-bottom">Django noticed Alexander’s apprehension and remembered the time when he had met the great emperor.</p>
        <div class="para-bottom">
            <h4><strong>Chapter 3 | A Few Days Ago</strong></h4>
            <p>There he was, on the Persian front, mounted on his horse; young, strong and a determined man, who looked more
                like a handsome teenager. What a magnificent sight of the young king, his golden hair wavy in the breeze
                as he stood observing the waves of the oncoming Persian army. His hair glowed golden in the afternoon sun.
                His horse gallant, and strong facing the enemy. The mighty king looked pleased with his achievement. Persia
                would be finally his.</p>
            <p>So, there stood Django, in front of the valiant emperor of Macedon, Alexander. </p>
            <p>“What do you need from me traveller?” Alexander enquired in a heavy voice. </p>
            <p>Django felt elated. An emperor as illustrious as Alexander asking a commoner like him who was into <strong>digital marketing
                India</strong>, about “what he wanted?... Such an honour.” </p>
            <p>Django broke his own chain of thoughts. “Your majesty,” I have something to tell you. “A good advice that will
                take you places.” Django continued. (Back to the present.)</p>
            <p>“ My Lord, you may want to join the conversation to understand the benefits of social media tools” Django said
                looking in Alexander’s direction. I have installed Instagram, Twitter and Facebook, as social media apps
                on the phone. You can keep an eye on your domain and discover new ones. </p>
            <p>“I have a problem in understanding what you are trying to say.” Alexander said finally, a little irritated. </p>
            <p>“Here. Let me show you,” said Django.</p>
            <p>He opened the Instagram app and showed him the mainframe. He tapped on the (+) sign that allowed him to upload
                pictures. Django selected one in which he had captured the sunset. He added a filter to the image and made
                a few edits to make the sunset have warmer hues. And gave the final go for the upload. </p>
            <p>Alexander was awestruck. “What fun!” he thought. “I could have uploaded the sceneries of the Adriatic Sea or
                the Mediterranean. I too have seen mesmerising sunsets.” </p>
            <p>Django further showed the inquisitive emperor few more functions of Facebook and Twitter. Alexander was amazed
                on knowing that he would have written accounts or updates of his long and wide travels, every single day.
                He knew that he needed a <strong>content strategy</strong>. He was suddenly sure of using <strong>digital marketing
                content</strong> provided by <strong>marketing companies in Mumbai</strong> and abroad to document his many
                adventures.
            </p>
            <p>“<strong>Digital marketing content</strong> can come to the rescue any time, especially with so many <strong>digital
                marketing companies in India</strong>,” Alexander thought to himself. </p>
            <p>“I need this strange-looking device. I need to take it back with me,” said Alexander. “I will pay you a good
                price for this!” Alexander clarified. After a few minutes into the conversation, Django timed a break. He
                threw a glance across the room and spotted Alexander looking pensively into his mobile phone.</p>
            <p>“What are you searching for?” Django asked the great conqueror. </p>
            <p>“Well, I am searching for a few <strong>ad agencies in Mumbai</strong>.” replied Alexander instantly, not paying
                attention to Django.
            </p>
            <p>“But why specifically <strong>ad agencies in Mumbai</strong>?” Django asked. “There are ad agencies all across
                the world whose services you can avail of.” </p>
            <p>“See this link here.” said Alexander pointing to a link on the phone. “Do you know what advertising is all about?”
                Django queried. “No not really. Though I have read up the definition of the concept of advertising.” And
                then Alexander read out the definition mentioned on the website. Django had to intervene. </p>
            <p>“For example, everyone in the world knows that you have traversed the world, far and wide, but we can create
                a campaign with a tagline to advertise about the places you have been to. We can even show you on the hoardings.
                This where an ad agency can come to your aid. You could have your own <strong>branded content</strong>.”
                Django concluded.
            </p>
            <p>“For this, you could look at ad agencies all over the world and not just <strong>ad agencies in Mumbai</strong>                or <strong>digital marketing companies in India</strong>.</p>
            <p>“That is an interesting thought.” Alexander acknowledged. </p>
            <p>“Further, this could involve a <strong>content strategy</strong> and a partnership with several <strong>digital marketing
                agencies in Mumbai</strong>, and <strong>digital marketing agency in India</strong>. </p>
            <p>“Do show me the device and the apps that it contains,” quipped William Shakespeare suddenly. </p>
            <p>“Very simple. All that you need to do is start your Facebook app, copy text from a certain document and place
                it in this space. You can even add pictures and post different text in the form of different post updates.
                This will help you to post your story as a series of updates on Twitter, Facebook and Instagram.”</p>
            <p>In an instant, there was a like on the post, both on Facebook and Instagram. Twitter too saw a retweet and Shakespeare
                was overjoyed.</p>
            <p>“Also I heard something about branded content?” Shakespeare asked.</p>
            <p>“These are generated to promote a particular brand which funds the content’s production, something common in
                the field of <strong>digital marketing India</strong>,” Django said. “There are several <strong>social media agencies
                in Mumbai</strong> and <strong>content writing services India</strong> which can help you out. But don’t
                restrict your search only to Mumbai.” </p>
            <p>Alexander Graham Bell too was impressed by this. But most of all he was astounded when he heard the notification
                bell. He only had one question to ask. </p>
            <p>“Why do you need to carry this device everywhere?” said Bell pointing at the mobile phone that Django was holding.
            </p>
            <p>“This is my mobile phone,” Django replied.<br> “A what?” Alexander Graham Bell questioned.<br> “M-O-B-I-L-E P-H-O-N-E”.
                This device allows you to make calls, take pictures, and upload photos, tweet, and posts on social media.
                “The ring sounds interesting.” Graham Bell remarked. He looked happy. “Such melodious tunes!” Django was
                pleased with this response. “Do you know, you can speak to a person, as well as see his face, even if he
                is thousands of miles away? You can communicate with a crowd of people across continents or have <strong>internal
                communications</strong> with people while looking at their faces.”</p>
            <p>“Of what use is this device and apps to me? They say I only preach and my philosophical concepts have no bearing
                on the real world! I cannot teach anybody anything, I can only make them think” said an agitated Socrates.
            </p>
            <p>“Imagine if you could influence everyone with this device, as you said ‘make them think’ on a scale never conceived
                before. All your lessons. All your discourses. Available to whoever follows you on Instagram, Facebook or
                Twitter. Imagine thousands of disciples in every nation.” Django to Socrates. </p>
            <p>“That’s what I am trying to convince him for all this while”, exclaimed Shakespeare.<br> “We both understand
                the mesmerising effect of any <strong>content format</strong>, be it poetry, plays, stories or even essays.
                With the right kind of <strong>content curation, content marketing strategy</strong> and with the available
                <strong>social media marketing agency</strong> and <strong>digital marketing companies in India</strong>,
                we bring our thoughts to the entire world”. Django let out a sigh of satisfaction, listening to the discussion
                that followed between the scholars of antiquity.</p>
        </div>
        <div class="para-bottom">
            <h4><strong>Chapter 4 | Cutting To The Chase</strong></h4>
            <p>“Ok! Everyone! May I have your attention, here are the brochures of a number of <strong>social media agencies</strong>                that you can look up to appoint services of.” Django announced.<br>>“But why do we focus only on Mumbai?”
                Guttenberg asked.<br>>“Keep the brochures of the <strong>marketing companies in Mumbai</strong> as a backup.
                You can find many of such and much more efficient agencies abroad too.” </p>
            <p>“And what about the <strong>social media marketing companies in India</strong>?” Django asked.<br>“But why only
                <strong>social media marketing companies in India</strong>? Why not other regions or the world?”<br> “Yes.
                You are right. You should take all of them into consideration if you need the best quality output,” Django
                clarified. “Be it <strong>content writing India, content writing services India</strong> or the world.” </p>
            <p>Django broke his own chain of thoughts. “Your majesty,” I have something to tell you. “A good advice that will
                take you places.” Django continued. (Back to the present.)</p>
            <p>“I have heard that <strong>content writing India</strong> services are the best in the world. Is that so?” Chanakya
                asked.
                <br> “What is this discussion about <strong>creative agencies in Mumbai</strong> and <strong>digital marketing agencies in India</strong>?”
                asked Karl Marx out of nowhere. It looked as if he had woken up from a deep slumber. “<strong>Creative agencies in
                Mumbai</strong> and <strong>digital marketing agencies in India</strong>?! What is this all about? These
                terms are too heavy to comprehend.” complained Leonardo Da Vinci. </p>
            <p>“Don’t worry Mr. Da Vinci. These terms are not too difficult to remember. You will get used to them once you
                start using them frequently.” Django said, trying to convince Leonardo Da Vinci. </p>
            <p>“<strong>Website content writer, website content writing services, content design, web content writer</strong>                and <strong>social media marketing in India</strong> are some other terms that you should be aware of,” Django
                replied. “These terms will come handy later,” Django assured. “I think I already have a digital dictionary
                which contains terms such as <strong>Website content writer, website content writing services, content design, web
                content writer</strong> and <strong>social media marketing in India</strong>.”
            </p>
            <p>And then, out of nowhere, Django woke up. Only to realize that his presentation in front of his bosses did not
                seem to end. He looked at the clock and realized he had missed his train to Colaba. As reality begun to bite
                and he brushed his teeth, the only thing that bothered him was that he had not prepared for his presentation
                on Content Marketing. “There goes the promotion”, he thought.</p>
            <p><strong>THE END</strong></p>
        </div>
    </div>
</div>