<div class="testimonials">
  <h1>Testimonials</h1>
  <a type="button" class="btn btn1 view-all" name="viewall">view all</a>
  <div class="slider">
    <flex-slider flex-slide="s in testimon track by $index" animation="slide" item-width="700">
      <li auto-heightfixed>
        <p class="relative">{{s.para}} <span class="yellow">{{s.name}}</span></p>
      </li>
    </flex-slider>
  </div>
</div>
<div class="pen-stand">
  <img src="img/home-page/pen-stand.png" class="img-responsive" alt="" />
</div>