<div class="container">
  <div class="section1">
    <div class="row">
      <div class="col-md-offset-1 col-md-7">
        <h1>What we do</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-5 col-sm-10 space-top">
        <p>
          Content marketing is evolving even before you can #tweet about it. With changing consumer preferences and the way people
          consume media, what you communicate with your present and the future audience has to be ‘served right’! Just the
          way you don’t feed grass to a lion [*unless it’s weed], your content has to be relevant for your audience.
        </p>
        <p>
          In fact, if there’s anything #content should be able to do, it would be to make it difficult for people to steer away from
          it. It has to inspire, connect & engage. At Yellow Seed, we believe in doing just that with a dollop of #awesomeness!
        </p>
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12 no-padding">
        <div class="circle-cont circle-center">
          <div class="row services-badge">
            <div class="col-md-4 col-sm-4 col-xs-6">
              <a ui-sref="content-strategy">
                <figure ui-sref="content-strategy">
                  <embed class="hidden-xs" src="img/home-page/contenthover.svg" type="image/svg+xml"/>
                  <img class="visible-xs" src="img/home-page/mobilecontent.svg" class="img-responsive visible-xs">
                </figure>
                <figcaption class="text-center">Content Strategy <br>&amp; Wisdom</figcaption>
              </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <a ui-sref="digital">
                <figure>
                  <embed class="hidden-xs" src="img/home-page/digitalhover.svg" type="image/svg+xml" />
                  <img src="img/home-page/mobiledigital.svg" class="img-responsive visible-xs">
                </figure>
                <figcaption class="text-center">Digital</figcaption>
              </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <a ui-sref="branded-content">
                <figure>
                  <embed class="hidden-xs" src="img/home-page/brandedhover.svg" type="image/svg+xml" />
                  <img src="img/home-page/mobilebranded.svg" class="img-responsive visible-xs">
                </figure>
                <figcaption class="text-center">Branded Content</figcaption>
              </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <a ui-sref="internal-communication">
                <figure>
                  <embed class="hidden-xs" src="img/home-page/corporatehover.svg" type="image/svg+xml" />
                  <img src="img/home-page/mobilecorporate.svg" class="img-responsive visible-xs">
                </figure>
                <figcaption class="text-center">Internal Communications</figcaption>
              </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <a ui-sref="the-studio">
                <figure>
                  <embed class="hidden-xs" src="img/home-page/studiohover.svg" type="image/svg+xml" />
                  <img src="img/home-page/mobilestudio.svg" class="img-responsive visible-xs">
                </figure>
                <figcaption class="text-center">The Studio</figcaption>
              </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <a ui-sref="design">
                <figure>
                  <embed class="hidden-xs" src="img/home-page/designhover.svg" type="image/svg+xml" />
                  <img src="img/home-page/mobiledesign.svg" class="img-responsive visible-xs">
                </figure>
                <figcaption class="text-center">Design</figcaption>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<embed class="hidden-xs" src="img/home-page/wedo.svg" type="image/svg+xml" />
<div class="visible-xs"><img src="img/home-page/mobilewedo.svg"></div>