@media (max-width: $screen-xs-max) {


  .head{
    height: 40vh;
    min-height: 0!important;
    .head-tag{
      h2{
        font-size: 14px;
      }
    }
    .scroll-down{
      img{
        height: 48px;
      }
    }
  }

  .zero{
    .navbar-toggle .icon-bar{
      background: #403635;
    }
  }

  .three{
    .brands{
      position: relative;
      width: 100%;
    }
  }

  .five{
    padding: 21em 0 5em 0;
    h1{
      font-size: 3.5em!important;
    }
    .testimonials{
      padding: 1em 0 0 5em;
      height: 350px;
      h1{
        font-size: 5em !important;
      }
      .view-all{
        @include position(absolute, 25% 0 null null )
      }
      .slider{
        li{
          padding: 0;
          p{
            padding: 0;
            &:before{
              @include position(absolute, -30px null null -14%);
            }
          }
        }
      }
    }
  }

  .six{
    padding: 19em 0 10em 0;
  }

  .head, .zero, .one, .two, .three, .four, .five, .six, .seven, .eight{
    h1{
      font-size: 3.5em;
    }
    p{
      font-size: 12px;
    }
    .extra-size{
      font-size: 5em;
    }
    .wait{
      margin: 0;
    }
    .blogs{
      .circle1{
        top:0;
        left:0;
      }
    }
    .crack{
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      ul{
        li{
          font-size: 14px;
        }
      }
    }
    .spee-blg{
      position: relative;
      top: 0;
      right: 0;
      ul{
        li{
          font-size: 14px;
        }
      }
    }
    .right-arrow{
      display: none;
    }
    .pen-stand{
      display: none;
    }
    .imac{
      img{
        height: 300px;
      }
    }
  }
  // .camera{
  //   position: absolute;
  //   right: 0;
  //   top: 30%;
  //   z-index: 2;
  //   img{
  //     width: 170px;
  //   }
  // }

}

@media (max-width: $screen-sm-max) {

  .camera{
    position: absolute;
    right: 0;
    top: 30%;
    z-index: 2;
    img{
      width: 190px;
    }
  }

}

@media (max-width: $screen-md-max) {

  .camera{
    position: absolute;
    right: 0;
    top: 30%;
    z-index: 2;
    img{
      width: 210px;
    }
  }

}
