

@media (max-width: 1200px) {
  .nav > li > a {
    padding: 15px 4px;
  }

  .header{
    .head-padd{
      padding: 0;
    }
  }

  .head{
    .img-banner{
      img{
        height: 100%;
        width: auto;
      }
    }
  }
  .zero{
    .head-padd{
      padding: 0;
    }
  }
  .one{
    z-index: 0;
    .circle-cont{
      margin-left: 12px;
    }
  }
  .five{
    .testimonials{
      .slider{
        p{
          padding: 0;
          margin: 0 0 0 4em;
          &::before{
            left: -38px;
          }
        }
        .flexslider-container {
            width: 73%;
        }
      }
    }
  }
  .six{
    z-index: 0;
  }

  .head, .zero, .one, .two, .three, .four, .five, .six, .seven, .eight{
    h1{
      font-size: 5.5em;
    }
    h3{
      font-size: 28px;
    }
    .blogs{
      .circle1{
        top:0;
        left:0;
      }
    }
    .crack{
      top: -7px;
      left: 12%;
      ul{
        li{
          font-size: 19px;
        }
      }
    }
    .chasma{
      z-index: -1;
    }
    .ipad{
      img{
        height: 200px;
      }
    }
    .pencil{
      z-index: -1;
    }
    .pinpaper{
      z-index: -1;
    }
    .pen-stand{
      top: 8%;
      left: 2%;
      img{
        height: 365px;
      }
    }

  }
}

@media (max-width: $screen-sm-max) {

  .one{
    z-index: 0;
    .circle-cont{
      margin-left: 7em;
    }
  }

  .three{
    .brands{
      position: relative;
      width: 100%;
    }
  }

  .five{
    .testimonials{
      padding: 2em 0 0 7em;
      .view-all{
        top: 34%;
        right: 0;
      }
      .slider{
        ul{
          li{
            padding: 2em 4px 0 0 !important;
            p{
              padding: 0;
              margin: 0 0 0 4em;
              &::before{
                left: -38px;
              }
            }
          }
        }
        .flexslider-container {
            width: 73%;
        }
      }
    }
  }

  .head, .zero, .one, .two, .three, .four, .five, .six, .seven, .eight{
    h1{
      font-size: 5.5em!important;
    }
    .blogs{
      .circle1{
        top:0;
        left:0;
      }
    }
    .spee-blg{
      top: 0;
    }
    .right-arrow{
      display: none;
    }
    .imac{
      img{
        height: 300px;
      }
    }
    .coffee{
      top: -18%;
      img{
        height: 238px;
      }
    }
    .con-top{
      top: 0;
      left: 0;
      img{
        height: 105px;
      }
    }
  }
}




@media (max-width: $screen-xs-max) {

  .header{
    .head-padd{
      padding: 0 2em;
    }
  }
  .head{
    min-height: 0!important;
    .head-tag{
      h2{
        font-size: 14px;
      }
    }
    .scroll-down{
      img{
        width: 50px;
      }
    }
  }

  .zero{
    .navbar-toggle .icon-bar{
      background: #403635;
    }
  }

  .one{
    padding: 16em 0 10em 0;
  }

  .three{
    padding: 7em 0;
    .brands{
      position: relative;
      width: 100%;
      .flexslider .slides img {
        max-width: 100%;
        margin: 0;
      }
    }
  }

  .five{
    padding: 21em 0 5em 0;
    h1{
      font-size: 3.5em!important;
    }
    .testimonials{
      padding: 1em 0 0 5em;
      height: 350px;
      h1{
        font-size: 3.5em !important;
      }
      .view-all{
        @include position(absolute, 25% 0 null null )
      }
      .flexslider-container {
          width: 67%!important;
      }
      .slider{
        li{
          padding: 0;
          p{
            padding: 0;
            margin: 0 0 0 2em!important;
            &:before{
              @include position(absolute, -30px null null -14%);
            }
          }
        }
      }
    }
  }

  .six{
    padding: 19em 0 7em 0;
  }
  .seven{
    padding: 18em 0 11em 0;
  }

  .head, .zero, .one, .two, .three, .four, .five, .six, .seven, .eight{
    h1{
      font-size: 3.5em!important;
    }
    p{
      font-size: 13px;
    }
    .circle-cont {
      margin-left:0;
      ul {
        li{
          padding-left: 12px;
          padding-right: 5px;
        }
        li+li {
          padding-left: 0;
        }
      }
    }
    .extra-size{
      font-size: 5em!important;
    }
    .wait{
      margin: 0;
    }
    .blogs{
      .circle1{
        top:0;
        left:0;
      }
    }
    .crack{
      top: 0;
      left: 0;
      width: 100%;
      ul{
        li{
          font-size: 14px;
        }
      }
    }
    .spee-blg{
      top: 0;
      right: 0;
      ul{
        li{
          font-size: 14px;
        }
      }
    }
    .right-arrow{
      display: none;
    }
    .pen-stand{
      display: none;
    }
    .note-book{
      left: 20%;
      img{
        height: 80px;
      }
    }
    .tree{
      top: -7%;
      right: 6%;
      img{
        height: 90px;
      }
    }
    .coffee{
      top: -9%;
      img{
        height: 170px;
      }
    }
    .imac{
      img{
        height: 300px;
      }
    }
  }
}


@media (max-width: 480px) {

.three{
  padding: 10em 0;
  .brands{
    .flexslider .slides li {
        padding: 30px;
    }
    .flexslider .slides img{
      height: 50px;
    }
  }
}

.five{
  .testimonials{
    width: 100%;
    padding: 1em 0 0 1em;
    h1{
      font-size: 3em !important;
    }
    .slider{
      li{
        p{
          padding: 0;
          &:before{
            @include position(absolute, -30px null null -20px);
            left: -20px!important;
          }
        }
      }
    }
  }
}

p{
  font-size: 12px!important;
}


.head, .zero, .one, .two, .three, .four, .five, .six, .seven, .eight{

    .extra-size{
      font-size: 4em !important;
    }
    .blogs{
      margin: 22px 0 0 0;
      .prof{
        padding: 0 0 0 8em;
      }
    }
    .circle-cont {
      ul {
        li{
          padding-left: 8px;
          .circle{
            width: auto;
            height: auto;
            img{
              height: 98px;
            }
          }
        }
      }
    }

    .ipad{
      bottom: -4.5%;
      img{
        height: 150px;
      }
    }

  }

}
