@import 'https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900';
@import 'https://fonts.googleapis.com/css?family=Asap:400,400i,700,700i';
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";

/* Bootstrap Variables Goes Here */

// $font-family-linowrite: "LINOWRITE_2", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// $font-family-default: "Lato", Georgia, "Times New Roman", Times, serif !default;
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
  padding-top: 0;
}
.color-white{
  color: #fff;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}

img {
  opacity: 0;
  @include transition(all 300ms ease);
}

img.doneLoading {
  opacity: 1;
}

nav li:hover .dropdown-menu {
  display: block;
}

#map img {
  opacity: 1;
}

a,
.btn,
[ui-sref] {
  cursor: pointer;
  @include transition(all ease 300ms);
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}

.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}

.form-group {
  position: relative;
}

.form-invalid {
  color: $brand-danger;
  .form-control {
    border-color: $brand-danger;
    color: $brand-danger;
    &::-webkit-input-placeholder {
      color: $brand-danger;
    }
  }
}

.form-submission {
  min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
  a {
    height: auto;
  }
  .flex-prev {
    left: 10px !important;
  }
  .flex-next {
    right: 10px !important;
  }
}

//SWIPER CSS
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url(../img/prev.png);
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url(../img/next.png);
}


/* Start writing sass here */

@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

.content {
  min-height: 450px;
}

.full-img {
  width: 100%;
  display: block;
}

a {
  font-family: 'Rubik', sans-serif;
  &:hover {
    text-decoration: none;
  }
}

.header-home {
  display: none;
}

.show-header {
  .header-home {
    display: block;
  }
}

header {
  .navbar {
    background-color: #403635;
    border-color: #403635;
    .nav {
      li {
        a {
          color: #fff;
          padding: 18px 12px;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  .head-padd {
    // padding: 0 7em;
    .logo {
      height: 30px;
      margin-top: -3px;
    }
  }
  .dropdown-menu {
    background: #403635;
    li {
      padding: 0 10px;
      a {
        // border-left: 2px solid transparent;
        background-color: transparent;
        padding: 0 !important;
        // span {
        //   border-left: 2px solid transparent;
        //   padding: 0 6px;
        //   &:hover {
        //     border-color: #ffca08;
        //   }
        // }
      }
      span {
        padding: 10px;
        // border-top: 1px solid #fff;
        display: block;
        position: relative;
        &:after {
          content: '';
          width: 2px;
          height: 15px;
          @include position(absolute, 11px null null 0);
          background-color: transparent;
        }
      }
      &:hover {
        a {
          background-color: transparent;
        }
        span:after {
          background-color: #ffca08;
        }
      }
    }
    li+li a span {
      // border-top: 1px solid #fff;
      display: block;
    }
  }
}
.zero header .navbar .nav li .dropdown-menu li a {
    color: #fff;
  }

.acc-nav {
  .panel {
    background-color: transparent;
    border: none;
  }
   ::-webkit-scrollbar {
    width: 0;
  }
}

.panel-body {
  padding: 0 12px 8px;
  ul li {
    padding: 9px 15px 0;
    a {
      color: #fff;
    }
  }
}

.panel-default>.panel-heading {
  color: #333333;
  background-color: transparent;
  border-color: none;
  .acc-menu {
    color: #fff;
    text-decoration: none;
  }
}

.panel-group .panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-heading+.panel-collapse>.list-group {
  border: none;
}

.pn50 {
  padding-top: 50px;
}

.head {
  z-index: 9999;
  .head-img-banner {
    background: url('../img/inside-pages/top-bg.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    img {
      width: 100%;
    }
  }
}

.zero {
  background-color: #ededed;
  padding: 5em 0 80px 0;
  height: 100vh;
  h1 {
    color: #fff;
  }
  .padd-top {
    padding: 6em 0;
  }
  .navbar {
    background-color: #ededed;
    border-color: #ededed;
    .nav {
      li {
        a {
          color: #413636;
          padding: 18px 12px;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
  .navbar-collapse {
    padding: 0;
  }
  .head-padd {
    .logo {
      height: 40px;
      margin-top: -3px;
    }
  }
}

.one {
  background-color: #ededed;
  padding: 50px 0 80px 0;
  h1 {
    color: #fff;
  }
}

.two {
  background-color: #403635;
  padding: 8em 0;
  z-index: 1 !important;
  h3 {
    color: #ffca08;
  }
  p {
    color: #fff;
  }
  label {
    color: #ffca08;
  }
  .wait {
    margin: 6em 2em 0 0;
    p {
      color: #f4f4f4;
    }
    span {
      text-decoration: underline;
    }
  }
}

.three {
  background-color: #ffca08;
  padding: 7em 0 12em 0;
  h1 {
    color: #ffca08;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), #616161 2px 2px 4px!important;
  }
  p {
    a {
      color: #333333;
      text-decoration: underline;
    }
  }
  .view {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    color: #252525;
  }
  .brands {
    position: absolute;
    width: 735px;
    right: 0;
    top: 17%;
    z-index: 99;
    .client-imgholder {
      padding: 50px;
    }
    .flexslider .slides img {
      margin: 0 auto;
      padding: 12px;
      height: 75px;
      width: auto;
    }
    .flexslider .slides li {
      // padding: 50px;
    }
    // .flex-control-paging li appearance: .flex active; {
    //   background: #fff;
    //   cursor: default;
    // }
    .flex-control-nav {
      bottom: -15%;
    }
    .client-slider {
      background-color: #fff;
      li {
        .bord-cus+.bord-cus {
          border-top: 1px solid #fec60f;
        }
        .bord-cus1+.bord-cus1 {
          border-left: 1px solid #fec60f;
        }
        // div+div{
        //   padding: 10px;
        // }
      }
    }
  }
}

.four {
  height: 520px;
  background: #ffca08;
  padding: 56px 0;
  .shd {
    position: absolute;
    top: 0;
    height: 200px;
    width: 100%;
    background: #ffca08;
  }
  .shd1 {
    position: absolute;
    top: 200px;
    height: 200px;
    width: 100%;
    background: #ffca08;
    -webkit-box-shadow: inset 0px 24px 96px -37px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 24px 96px -37px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 24px 96px -37px rgba(0, 0, 0, 0.75);
  }
  h1 {
    color: #4e4242;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.1), #383232 4px 4px 4px !important;
  }
  .testimonials {
    width: 82%;
    padding: 6em 0 0 7em;
    @include position(absolute,
    216px 0 null null);
    background-image: url(../img/home-page/testimon-bg.jpg);
    background-size: cover;
    z-index: 1;
    @include transform(translateY(-40%));
    height: auto;   ///new height    ///old height 400px
    right: 0;
    h1 {
      color: #4e4242;
      text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.1), #383232 2px 2px 4px !important;
      display: inline-block;
    }
    // span {
    //   display: block;
    //   margin-top: 10px;
    // }
    .slider {
      // .content-sec{
      //   color: #fff;
      //   padding: 0 95px 0 55px;
      //   &:before{
      //           content: ' " ';
      //               font-style: italic;
      //           font-family: 'Rubik', sans-serif;
      //           font-size: 65px;
      //           transform: rotate(180deg);
      //               color: #ffca08;
      //               line-height: 0.2;
      //               height: 0;
      //         }
      //         &:after{
      //           content: ' " ';
      //               font-style: italic;
      //           font-family: 'Rubik', sans-serif;
      //           font-size: 65px;
      //           transform: rotate(180deg);
      //               color: #ffca08;
      //               line-height: 0;
      //               height: 0;
      //         }
      // }
      width: 750px;
      margin: -6% 0 0;
      ul {
        li {
          margin-top: 3em !important;
        }
      }
      span{
        color: #fff!important;
      }
      p {
        color: #fff;
        padding: 0 95px 0 55px;
        &:before,&:after{
          height: 0;
          content: ' " ';
              font-style: italic;
          font-family: 'Rubik', sans-serif;
          font-size: 43px;
          color: #ffca08;
          display: inline-block;
            transform: rotate(180deg);
        }
        &:before{
                line-height: 0.2;
                    margin-left: -25px;
              }
              &:after{
                line-height: 0;
                    height: 0;
                    margin-left: 10px;
              }
    }
      .yellow {
        color: #ffca08 !important;
        padding: 0 57px;
      }
      .flex-control-nav {
        bottom: -20%;
      }
      .flex-control-paging li a.flex-active {
        background: #ffca08;
        cursor: default;
      }
    }
    // .view-all {
    //   z-index: 9999;
    //   @include position(absolute,
    //   36% 45% null null);
    //    display: none;
    // }
  }
  .flex-control-nav {
    bottom: -30%;
  }
}

.five {
  background-color: #ffca08;
  // -webkit-box-shadow: inset 0px 24px 96px -37px rgba(0, 0, 0, 0.75);
  // -moz-box-shadow: inset 0px 24px 96px -37px rgba(0, 0, 0, 0.75);
  // box-shadow: inset 0px 24px 96px -37px rgba(0, 0, 0, 0.75);
  padding-top: 8em;
  padding-bottom: 16em;
  h1 {
    font-size: 7em!important;
    color: #ffca08;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), #616161 2px 2px 4px!important;
  }
  .flex-control-nav {
    bottom: -30%;
  }
  .blog-slider {
    width: 925px;
    .blogs-details {
      padding: 0 20px 0 0;
    }
  }
}

.six {
  background-color: #e4e4e4;
  padding: 80px 0 10em 0;
  h1 {
    font-size: 80px!important;
    color: #efefef;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.59), #bfb9b9 4px 4px 4px !important;
  }
  .crack ul li a {
    color: #413636 !important;
  }
}

.seven {
  background-color: #d2d1cf;
  padding: 12em 0 11em 0;
  h1 {
    font-size: 80px!important;
    color: #efefef;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.59), #bfb9b9 4px 4px 4px !important;
  }
  .spee-blg ul li a {
    color: #413636 !important;
  }
}

.eight {
  background-color: #403635;
  padding: 5em 0 2em 0;
  h1 {
    font-size: 7em!important;
    color: #483c3c;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.1), #383232 4px 4px 4px !important;
  }
  p {
    color: #f1f1f1;
  }
}

p {
  font-size: 15px;
  color: #393333;
  margin: 0 0 25px;
  text-align: justify;
  font-family: 'Rubik', sans-serif;
}

.yellow-tag {
  font-size: 16px!important;
}

.text-center {
  text-align: center!important;
}

.flex-control-paging li a {
  width: 7px;
  height: 7px;
}

.relative {
  position: relative;
}

.no-margin {
  margin: 0!important;
}

.no-padding {
  padding: 0!important;
}

.mb10 {
  margin-bottom: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml35 {
  margin-left: 35px;
}

.mr40 {
  margin-right: 40px;
  margin-bottom: 15px;
}

.pl0 {
  padding-left: 0;
}

.pr0 {
  padding-right: 0;
}

.pl10 {
  padding-left: 10px;
}

.pr39 {
  padding-right: 39px;
}

.pr60 {
  padding: 0 60px 0 0;
}

.head,
.zero,
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight {
  position: relative;
  // z-index: 0;
  .partner-h1 {
    font-size: 55px;
  }
  h1 {
    font-size: 100px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    text-shadow: #cccccc 3px 5px 2px;
  }
  .extra-size {
    font-size: 9em;
    text-align: left;
    text-transform: uppercase;
    line-height: 0.9em;
    padding-left: 25px;
  }
  .zero-tag {
    @include position(absolute,
    -18% null null -10%);
    z-index: 1;
    p {
      font-size: 34px;
      letter-spacing: 1px;
      font-weight: 300;
    }
    span {
      font-weight: 400;
    }
  }
  .social-links {
    @include position(fixed,
    30% 0 null null);
    z-index: 999;
    ul {
      list-style: none;
      background-color: #f0f0f0;
      margin: 0;
      border-radius: 50px;
      padding: 5px;
      li {
        background-color: #fff;
        border-radius: 50%;
        padding: 5px;
        text-align: center;
        &:hover {
          background-color: #ffca08;
          i {
            color: #fff;
          }
        }
      }
      li+li {
        margin-top: 5px;
      }
      i {
        color: #a2a2a2;
        font-size: 20px;
      }
    }
  }
  .head-tag {
    @include position(absolute,
    50% null null 50%);
    @include transform(translate(-50%, -50%));
    h2 {
      font-weight: 500;
    }
  }
  .scroll-down {
    @include position(absolute,
    null null 10% 50%);
    @include transform(translate(-50%));
  }
  h2 {
    font-family: 'Rubik', sans-serif;
    color: #fff;
    margin: 0;
  }
  .lighter {
    font-weight: lighter!important;
  }
  h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    margin-bottom: 30px;
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-control {
    padding: 0;
  }
  input {
    background: none;
    border: none;
    border-bottom: 1px solid #d3d0d0;
    width: 100%;
    color: #fff;
  }
  textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #d3d0d0;
    width: 100%;
    margin: 82px 0 10px 0;
    resize: none;
    color: #fff;
    @include placeholder {}
  }
  .btn1 {
    background: transparent;
    color: #ffca08;
    border: 1px solid #ffca08;
    font-size: 9px;
    text-transform: uppercase;
    padding: 6px 15px;
    letter-spacing: 1px;
    &:hover {
      background: #ffca08;
      color: #fff;
    }
  }
  .btn2 {
    color: #000;
    border: 1px solid #ffca08;
    font-size: 9px;
    text-transform: uppercase;
    background: #ffca08;
    padding: 6px 15px;
    letter-spacing: 1px;
    &:hover {
      background: transparent;
      color: #ffca08!important;
    }
  }
  ul.img-list li:hover span.text-content {
    opacity: 1;
  }
  .img-list {
    li {
      span.text-content {
        color: #393333;
        cursor: pointer;
        display: table;
        @include position(absolute,
        50% null null -15%);
        @include transform(translateY(-50%));
        font-weight: 500;
        font-size: 18px;
        padding-left: 7px;
        line-height: 18px;
        border-left: 4px solid transparent;
      }
      &:hover {
        span.text-content {
          border-left: 4px solid #ffca08;
        }
      }
    }
  }

  .circle-cont {
    margin-left: 40px;
    z-index: 1;
    position: relative;
    ul {
      li {
        a {
          display: block;
        }
      }
      li{
        padding-right: 50px;
    padding-bottom: 30px;
      }
      li:last-child{
        padding-right: 0;
      }
      li:nth-child(3n){
        padding-right: 0;
      }
    }
    .circle {
      border-radius: 50%;
      // width: 165px;
      // height: 165px;
      height: 150px;
      width: 150px;

      // box-shadow: inset 10px 9px 10px -10px #000000;
      // -webkit-box-shadow: inset 10px 9px 10px -10px #000000;
      // -moz-box-shadow: inset 10px 9px 10px -10px #000000;
      // -o-box-shadow: inset 10px 9px 10px -10px #000000;
      a {
        position: relative;
      }
      img {
        // height: 165px;
        height: 150px;
        border-radius: 50%;
        @include filter(grayscale(75%) opacity(85%));
        // @include filter(grayscale(75%));
        &:hover {
          @include filter(opacity(75%));
        }
      }
      .img-responsive {
        display: inline-block;
      }
    }
  }
  .new-circle{
    li{
      padding-right: 50px!important;
  padding-bottom: 30px!important;
    }
    li:last-child{
      padding-right: 0!important;
    }
  }
  .wait {
    margin: 6em 4em 0 0;
  }
  .blogs {
    position: relative;
    margin: 22px 2em 0 0;
    .circle1 {
      position: absolute;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      background: #ffca08;
      overflow: hidden;
      left: 5%;
      top: 3px;
      img {
        height: 92px;
        @include position(absolute,
        5px null null 19px);
      }
    }
    .prof {
      padding: 0 0 0 10em;
      label {
        font-family: 'Asap', sans-serif;
      }
      p {
        font-family: 'Asap', sans-serif;
      }
      .soc-sml-icons {
        i {
          color: #847c7a;
          font-size: 18px;
          border: 1px solid;
          border-radius: 50%;
          padding: 4px;
        }
      }
    }
  }
  .spee-blg {
    float: right;
    text-align: right;
    width: 50%;
    @include position(absolute,
    -60px 25px null null);
  }
  .crack {
    @include position(absolute,
    -27px null null 10%);
    ul {
      padding-right: 3em;
    }
  }
  .info {
    p {
      a {
        color: #f1f1f1;
      }
    }
  }
  .crack,
  .spee-blg {
    width: auto;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 0;
        font-size: 20px;
        font-family: 'Rubik', sans-serif;
        a {
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
          &:focus {
            outline: 0;
          }
        }
      }
      // li:last-child {
      //   border: none;
      // }
      li+li {
        border-top: 2px solid #fff;
        padding-top: 5px;
      }
    }
  }
  .imac {
    @include position(absolute,
    0 null null -18px);
    img {
      height: 400px;
    }
  }
  .tree {
    @include position(absolute,
    -16% 11% null null);
    img {
      height: 170px;
    }
  }
  .note-book {
    @include position(absolute,
    null null 0 21%);
    img {
      height: 120px;
    }
  }
  .pencil {
    @include position(absolute,
    6% null null null);
    z-index: -1;
    img {
      height: 265px;
    }
  }
  .coffee {
    @include position(absolute,
    -22% 0 null null);
    img {
      height: 267px;
    }
  }
  .yseed-big {
    @include position(absolute,
    -5% null null 27.5%);
    z-index: 99;
    img {
      height: 150px;
    }
  }
  .yseed-small {
    @include position(absolute,
    null 38% -5px null);
    img {
      height: 42px;
    }
  }
  .yseed-top {
    @include position(absolute,
    37.3% null null 15%);
    img {
      height: 95px;
    }
  }
  .con-top {
    @include position(absolute,
    14% null null 9%);
    img {
      height: 110px;
    }
  }
  .right-arrow {
    @include position(absolute,
    null null 18% 45%);
    img {
      height: 40px;
    }
  }
  .chasma {
    z-index: 0;
    @include position(absolute,
    30px 0 null null);
    img {
      height: 300px;
    }
  }
  .pinpaper {
    @include position(absolute,
    null null 0 0);
    img {
      height: 230px;
    }
  }
  .ipad {
    z-index: 1;
    @include position(absolute,
    null 11% -11% null);
    img {
      height: 220px;
    }
  }
  .note-tab {
    @include position(absolute,
    null 15% 0 null);
    img {
      height: 185px;
    }
  }
  .pen-stand {
    @include position(absolute,
    35% null null 8%);
    z-index: 2;
    img {
      height: 400px;
    }
  }
  .flexslider {
    background: none;
    border: 0;
    .slides {
      li {
        padding: 0;
      }
    }
    // .flex-control-nav{
    //   display: none;
    // }
    .flex-direction-nav {
      a {
        height: 45px;
      }
    }
  }
}

.we-believe {
  .we-one {
    background-color: #e4e4e4;
    padding: 5em 0 2em;
  }
  .we-two {
    background-color: #ffca08;
    padding: 4em 0 1em 0;
    h1 {
      color: #ffca08!important;
      text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), #616161 2px 2px 4px !important;
    }
  }
  .we-three {
    background-color: #e4e4e4;
    padding: 3em 0;
    .extra-size {
      font-size: 100px;
      text-align: left;
      text-transform: uppercase;
    }
  }
  .we-four {
    background-color: #d2d1cf;
    padding: 4em 0;
    .padd {
      padding: 0 65px 0 40px;
    }
  }
  .pl30 {
    padding-left: 30px;
  }
  .pl40 {
    padding-left: 40px;
  }
  .prl40 {
    padding: 0 40px;
  }
  .fs18 {
    font-size: 18px;
  }
  .we-one,
  .we-two,
  .we-three,
  .we-four {
    position: relative;
    h1 {
      font-size: 100px;
      font-family: 'Rubik', sans-serif;
      font-weight: bold;
      color: #fff;
      line-height: 0.9em;
      text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.59), #bfb9b9 2px 2px 2px;
    }
    h2 {
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
    }
    .mb20 {
      margin-bottom: 20px;
    }
    .respect {
      background-image: url(../img/home-page/we-believe-bg.jpg);
      background-size: cover;
      z-index: 1;
      width: 50%;
      padding: 25px 3em 25px 6em;
      @include position(absolute,
      null 0 -30px null);
      h1 {
        color: #483c3c;
        text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.1), #383232 2px 2px 2px !important;
      }
      p {
        color: #fff;
      }
    }
    .tree {
      @include position(absolute,
      -26% 30% null null);
      z-index: 2;
      img {
        height: 160px;
      }
    }
    .pencil {
      @include position(absolute,
      15% null null -5%);
      img {
        height: 300px;
      }
    }
    .clock {
      @include position(absolute,
      -26% 2% null null);
      img {
        height: 200px;
      }
    }
    .coffee {
      @include position(absolute,
      -17% 0 null null);
      img {
        height: 270px;
      }
    }
  }
}

footer {
  font-size: 12px;
  background-color: #0c0c0c;
  padding: 2em 0;
  p {
    font-size: 10px;
    color: #8f8f8f;
    text-align: center;
    margin: 0;
    a {
      color: #8f8f8f;
      &:hover {
        color: #fff;
      }
    }
  }
  .list-inline {
    li {

      a {
        color: #8f8f8f;
      }
    }
  }
}

.inner-foot {
  font-size: 12px;
  background-color: #534334;
  padding: 10px 0;
  p {
    font-size: 10px;
    color: #fff;
    text-align: center;
    margin: 0;
    a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
  .list-inline {
    li {

      a {
        color: #fff;
      }
    }
  }
}

// .yellow {
//   color: #ffca08 !important;
// }
.bold {
  font-weight: 500;
}

.flexslider:hover .flex-direction-nav {
  .flex-prev,
  .flex-next {
    display: none;
  }
}

.blog-info {
  background-color: #fff;
  padding: 20px;
  min-height: 103px;
  p {
    font-size: 18px;
    font-weight: 500;
    text-align: initial;
    margin: 0;
    line-height: 120%;
  }
}

//BLOG
.inline-block{
  display: inline-block;
}
.blog {
  .img-banner{
      // padding: 40px;
    }
    .five-ways{
    letter-spacing: 0.5px;
      font-weight: bold;
  color: #403635;
  font-family: 'Rubik', sans-serif;
    }
.review-sec{
background: #ffca08;
ul{
  margin: 0;
  padding: 0;
  li{
    display: inline-block;
        padding: 2px 15px;
        border-right: 1px solid;
        margin: 6px 0px;
a{
  text-decoration: none;
  color: #403635;
}
}
li:last-child{
  border: none;
}
}
}


  .sub-para {
      margin-top: 80px!important;
    ul {
      text-transform: uppercase;
      font-size: 16px;
      margin: 0;
      li+li {
        border-left: 1px solid #534334;
      }
      li {
        padding: 0 12px;
        color: #534334;
        font-weight: 500;
        cursor: pointer;
        margin: 0 -3px;
        &:hover {
          background: #534334;
          a {
            color: white;
          }
        }
        a {
          text-decoration: none;
          color: #534334;
        }
      }
    }
  }
  .img-grid {
    margin: 40px 0 80px;
    .img-spac {
      margin-bottom: 30px;
    }
  }
  .img-sec {
    background: #ffffff;
    padding: 12px 26px;
    h3 {
      line-height: 22px;
      letter-spacing: 1px;
      margin: 0 0 10px;
    }
    .date {
      background: #ffca08;
      width: 150px;
      text-transform: uppercase;
      padding: 0 8px;
    }
    .txt {
      font-size: 16px;
      letter-spacing: 1px;
    }
  }
}

.disp-blog {
  display: none;
}

.active-tab {
  display: block !important;
}

.three {
  .flex-control-paging li a.flex-active {
    background-color: #fff;
  }
}

.flex-control-paging li a {
  width: 10px;
  height: 10px;
}

.btns {
  border: 1px solid #403635 !important;
  position: absolute;
  top: 70px;
  left: 234px;
  &:hover {
    background: #403635 !important;
    border: 1px solid #ffca08!important;
  }
}

.inner-foot {
  background-color: #403635;
}

// .img-holder{
//   height: 100px;
//     width: 130px;
//     position: relative;
//     overflow: hidden;
//     img{
//           position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     }
// }
// .three .brands .flexslider .slides img{
// margin: 0;
//     padding: 0;
//     height: auto;
//     width: 100%;
// }
.one .img-list li span.text-content {
  color: #000000;
}

.pointer {
  cursor: pointer;
}
.backgroundtrans{
  background-color: transparent!important;
}
.pd40{
  padding: 30px 40px!important;
}
.mgt30{
  margin-top: 30px;
}
.pd0{
  padding: 0px 40px;
  letter-spacing: 0.4px;
}
.pencil-dust{
  position: absolute;
  top: 16px;
  width: 165px;
  left: 35px;
}
.pencil-pen{
  position: absolute;
  width: 234px;
top: 20%;
}
.testimonials .view-all {
    top: 35%!important;
    right: 20%!important;
    position: absolute;
}
.testimonials{
  br{
    display: none;
  }
}
.video-sec{
  position: relative;
}
.skip-btn{
  position: absolute;
top: 40px;
right: 40px;
background-color: transparent;
color: #fff;
&:focus{
  outline: none;
}
}
.zero .navbar .nav li a:hover{
  background-color: transparent;
}
.navbar-nav > li{
  z-index: 999;
}
.head{
  z-index: 9;
}
.mobile-circle{
  img{
  filter: none!important;
  }
}
.sec-nav{
  background: #d8d6d6;
}
.zero .navbar .nav li {
  &:hover a{
    background-color: #ffce15;
  }
}
.nav-col{
  li a {
    background-color: transparent!important;
  }
}
.yellow-under{
  .yellow-und{
        border-bottom: 2px solid transparent;
  .dropdown-menu {
      margin-top: 2px;
  }
  &:hover{
border-bottom: 2px solid $brand-warning;
  }
}
}
@import "fancybox-override";
@import "mobile";
@import "sagar";
