<section class="awsome pn50">
    <div class="img-banner">
        <img src="img/inside-pages/Awesomeness.jpg" alt="">
    </div>
    <div class="slider-sec">
        <div class="row-flex">
            <div class="col-flex1 agency">
                <div class="title">
                    <h1>Agencies</h1>
                </div>
            </div>
            <div class="col-flex2 agency-slide">
                <flex-slider flex-slide="slide in agency track by $index" animation="slide" animation-loop="false" slideshow="false"
                    prev-text="" next-text="" direction="vertical">
                    <li>
                        <div class="row img-border" ng-repeat="row in slide track by $index">
                            <div class="col-md-4 col-xs-4 col" ng-repeat="wall in row track by $index">
                                <!--<a fancybox href="{{wall.image|uploadpath}}">-->
                                <div class="media-image">
                                    <img ng-src="{{wall.logo|uploadpath}}" alt="" class="" ng-click="openBrand(wall)">
                                    <!--<i class="fa {{wall.icon}}"></i>-->
                                </div>
                                <!--</a>-->
                            </div>
                        </div>
                    </li>
                </flex-slider>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row-flex">
            <div class="col-flex2 brand-slide">
                <flex-slider flex-slide="slide in brand track by $index" animation="slide" animation-loop="false" slideshow="false"
                    prev-text="" next-text="" direction="vertical">
                    <li>
                        <div class="row img-border" ng-repeat="row in slide track by $index">
                            <div class="col-md-4 col-xs-4 col" ng-repeat="wall in row track by $index">
                                <!--<a fancybox href="{{wall.image|uploadpath}}">-->
                                <div class="media-image">
                                    <img ng-src="{{wall.logo|uploadpath}}" alt="" class="" ng-click="openBrand(wall)">
                                    <!--<i class="fa {{wall.icon}}"></i>-->
                                </div>
                                <!--</a>-->
                            </div>
                        </div>
                    </li>
                </flex-slider>
            </div>
            <div class="col-flex1 awe-brands">
                <div class="title">
                    <h1>Brands</h1>
                </div>
            </div>
        </div>
    </div>
  <div class="container">
      <div class=" pdt20" style="padding-bottom: 40px;">
          <p  class="text-center">*Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <!--<p class="txt">We have always been keen on doing things out of the box. And to our good fortune, we also got some clients who let us explore our creative excellence!</p>
        <p class="txt">For <span>Smaaash</span>, the Banquet hall and gaming center powered by Star Sports, we had created a Food Menu and written the Terms and Conditions for their Master Blaster and Junior Master Blaster Tournaments.</p>
        <p class="txt">We had also created 900 unique Math questions for a Mobile application of <span>Contest To Win</span> – an online gaming website. Quite literally, that was one of our calculative risks!</p>
        <p class="txt">For <span>Furtados</span> we had once interviewed veteran musician-keyboardist Louis Banks. From interviewing him, to transcribing and editing the interview along with creating a mini-campaign around the importance of music, primarily for children – we had developed content for it all.</p>
        <p class="txt">Not only that, we have also worked with <span>SEO 5 Consulting</span> from Canada to help with press releases and other content related work for some of their clients.</p>
        <p class="txt">And we have also written <span>Website Copies</span> for –
<ul>
  <li>Maroo carpets</li>
  <li>AASIL  Consulting Group</li>
  <li>Agni Solar</li>
  <li>Knots &amp; Hearts</li>
  <li>Ascra Technologies</li>
  <li>Baseline Ventures</li>
  <li>Best Deal Finance</li>
</ul>
<ul class="mgl20">
  <li>Canadian Bilingual School</li>
  <li>Delta</li>
  <li>Kotak Realty (through Digital Vibe)</li>
  <li>Honeymoon Havens</li>
  <li>Maroo Carpets</li>
  <li>Medgini</li>
  <li>Café Mojo Goa</li>
</ul>
        </p>-->
    </div>
  </div>
  <div class="roots-run ">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
<div class="box-img">
<img src="img/awesome/box.png" class="img-responsive" alt="box">
</div>
              </div>
              <div class="col-md-9">
<div class="box-text">
<h3>Our Roots Run Deep</h3>
<p>The idea for Yellow Seed germinated from the growing client needs at Never Grow Up ®, an Employee Engagement firm dedicated to the pursuit of happiness at work. Passionate about building admirable company cultures which attract as well as retain the right talent, they have successfully helped numerous organizations create a strong employer brand and helped engage with their employees through innovative product and service offerings.</p>
</div>
              </div>
          </div>


      </div>

  </div>
  <div class="disclaimer">
      <div class="container">
          <p>
              Disclaimer
              </p>
              <p>
This page and the contents mentioned herewith are for internal use, viewing purposes and for private circulation only. Its contents are disclosed only to the recipient to whom the link to this page has been sent and addressed to and is not for further distribution across media or social communication channels/vehicles. Some parts of this page contain confidential and proprietary information belonging to Yellow Seed Content Solutions Pvt. Ltd. or its clients. The recipient/viewer must obtain written consent from Yellow Seed Content Solutions before the recipient or any other person acting on behalf, communicate any information on the contents or subject matter of this document or part thereof to any other third party.©  www.itsyellowseed.com All rights reserved.
          </p>
      </div>
  </div>

</section>
