<section class="awsome pn50">
        <embed class="hidden-xs" src="img/inside-pages/awesomeness.svg" type="image/svg+xml" /> 
        <div class="visible-xs"><img src="img/inside-pages/mobileawesomeness.svg"></div>
    <div class="hidden-xs">
        <div class="row-flex">
            <div class="col-flex1 agency">
                <div class="title">
                    <h1 class="text-center thick-border">Agencies</h1>
                    <div class="click">Click on the logos to know more</div>
                    <img class="directionarrow" src="img/home-page/awesomeblackarrow.png">
                </div>
            </div>
            <div class="col-flex2 agency-slide">
                <flex-slider flex-slide="slide in agency track by $index" touch="true" animation="slide" animation-loop="true" slideshow="true" prev-text="" next-text="" direction="vertical" slideshow-speed="3000">
                    <li>
                        <div class="row img-border" ng-repeat="row in slide track by $index">
                            <div class="col-md-4 col-sm-4 col-xs-4 col" ng-repeat="wall in row  |orderBy:'-order' track by $index">
                                <div class="media-image">
                                    <img ng-src="{{wall.logo|uploadpath}}" alt="" class="" ng-click="openBrand(wall)">
                                </div>
                            </div>
                        </div>
                    </li>
                </flex-slider>
            </div>
        </div>
    </div>
    <div class="visible-xs title-agency-xs">
        <div class="row-flex">
            <div class="col-flex1 agency">
                <div class="title">
                    <h1 class="text-center">Agencies</h1>
                </div>
            </div>
            <div class="col-flex2 agency-slide">
                <flex-slider flex-slide="slide in agencies track by $index " touch="true" animation="slide" animation-loop="true" slideshow="true" prev-text=""
                    next-text="" direction="vertical" slideshow-speed="3000">
                    <li>
                        <div class="row img-border" ng-repeat="row in slide track by $index">
                            <div class="col-xs-6 col" ng-repeat="wall in row |orderBy:'-order' track by $index">
                                <!--<a fancybox href="{{wall.image|uploadpath}}">-->
                                <div class="media-image">
                                    <img ng-src="{{wall.logo|uploadpath}}" alt="" class="" ng-click="openBrand(wall)">
                                    <!--<i class="fa {{wall.icon}}"></i>-->
                                </div>
                                <!--</a>-->
                            </div>
                        </div>
                    </li>
                </flex-slider>
            </div>
        </div>
    </div>
    <div class="hidden-xs">
        <div class="row-flex">
            <!--<div class="col-flex1 awe-brands">
                <div class="title">
                    <h1>Brands</h1>
                </div>
            </div>-->
            <div class="col-flex2 brand-slide">
                <flex-slider flex-slide="slide in brand track by $index " touch="true" animation="slide" animation-loop="true" slideshow="true" prev-text=""
                    next-text="" direction="vertical" slideshow-speed="3000">
                    <li>
                        <div class="row img-border" ng-repeat="row in slide track by $index ">
                            <div class="col-md-4  col-sm-4 col-xs-4 col" ng-repeat="wall in row |orderBy:'-order' track by $index ">
                                <!--<a fancybox href="{{wall.image|uploadpath}}">-->
                                <div class="media-image">
                                    <img ng-src="{{wall.logo|uploadpath}}" alt="" class="" ng-click="openBrand(wall)">
                                    <!--<i class="fa {{wall.icon}}"></i>-->
                                </div>
                                <!--</a>-->
                            </div>
                        </div>
                    </li>
                </flex-slider>
            </div>
            <div class="col-flex1 awe-brands">
                <div class="title">
                    <h1 class="thick-borderwhite">Brands</h1>
                    <div class="clickwhite">Click on the logos to know more</div>
                    <img class="directionarrowwhite" src="img/home-page/awesomewhitearrow.png">
                </div>
            </div>
        </div>
    </div>
    <div class="visible-xs">
        <div class="row-flex">
            <div class="col-flex1 awe-brands">
                <div class="title">
                    <h1>Brands</h1>
                </div>
            </div>
            <div class="brand-slide">
                <flex-slider flex-slide="slide in brands track by $index " touch="true" animation="slide" animation-loop="true" slideshow="true" prev-text=""
                    next-text="" direction="vertical" slideshow-speed="3000">
                    <li>
                        <div class="row img-border" ng-repeat="row in slide track by $index ">
                            <div class="col-xs-6 col" ng-repeat="wall in row |orderBy:'-order' track by $index ">{{wall.order}}
                                <!--<a fancybox href="{{wall.image|uploadpath}}">-->
                                <div class="media-image">
                                    <img ng-src="{{wall.logo|uploadpath}}" alt="" class="" ng-click="openBrand(wall)">
                                    <!--<i class="fa {{wall.icon}}"></i>-->
                                </div>
                                <!--</a>-->
                            </div>
                        </div>
                    </li>
                </flex-slider>
            </div>
        </div>
    </div>
    <div class="sub-won">
        <div class="container">
            <p>Our journey has been a humbling experience. We found our groove in doing things out of the box. Our eclectic
                approach has been encouraged by clients who have led us to creative brilliance. From dishing up a food menu
                for <strong>   Smaaash, conceptualised around the popular sitcom, Big Bang Theory</strong> to creating unique
                Math questions for a mobile app for <strong>Contest2Win</strong> while working with
                <strong>SEO 5 Consulting</strong> in Cananda helping with their press release and other client work, we’ve
                literally crossed borders!<br>We have also developed <strong>Website Content</strong> for a variety of brands
                across industries like <strong>Travel & Tourism, BFSI, Hospitality, Pharmaceuticals</strong> and others.
                These include brands like <strong>Accura Partners, AASIL Consulting Group, Knots & Hearts, Ascra Technologies, Best
                Deal Finance, Canadian Bilingual School, Kotak Realty (in collaboration with Digital Vibe), Honeymoon Havens,
                Medgini</strong> and many more.
            </p>
        </div>
    </div>
    <div class="we-won">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="won-logo hidden-sm hidden-md hidden-lg">
                        <img src="img/awesome/won.png" class="img-responsive">
                    </div>
                    <div class="won-padding">
                        <div class="agency won">
                            <h1>we won</h1>
                        </div>
                        <div>
                            <h2>Yellow Seed Content Solutions Crowned Best Content Agency at the National Digital Marketing Conference
                                & Awards powered by CMO Asia</h2>
                            <p>Understanding customer needs & interests and delivering carefully tailored & quality content
                                created by a team of idea smiths is what lead Yellow Seed Content Solutions to bag the <span>“Best Content Agency Award”</span>                                at the National Digital Marketing Conference & Awards powered by CMO Asia on 13th February,
                                2017 at Taj Land’s End, Mumbai. The National Digital Marketing Conference & Awards celebrates
                                marketing, innovation and those pushing the bounds of creative excellence in all forms of
                                emerging marketplace. CMO Asia is dedicated to high level knowledge Exchange through Leadership
                                & Networking amongst senior CMOs and brand decision makers across industry segments.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-4 hidden-xs">
                    <div class="won-img">
                        <img src="img/awesome/won.png" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="roots-run ">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-4 hidden-xs">
                    <div class="box-img">
                        <a href="http://www.willnevergrowup.com/" target="_blank"><img src="img/awesome/box.png" class="img-responsive" alt="box"></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="box-img hidden-sm hidden-md hidden-lg">
                        <a href="http://www.willnevergrowup.com/" target="_blank"><img src="img/awesome/box.png" class="img-responsive" alt="box"></a>
                    </div>
                    <div class="box-text">
                        <h3>Our Roots Run Deep</h3>
                        <p><strong>The idea for Yellow Seed germinated from the growing client needs at 
                            <a href="http://www.willnevergrowup.com/" target="_blank">Never Grow Up ®</a></strong>, an Employee
                            Engagement firm dedicated to the pursuit of happiness at work. Passionate about building admirable
                            company cultures which attract as well as retain the right talent, they have successfully helped
                            numerous organizations create a strong employer brand and helped engage with their employees
                            through innovative product and service offerings.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="disclaimer">
        <div class="container">
            <p>
                Disclaimer
            </p>
            <p>
                This page and the contents mentioned herewith are for internal use, viewing purposes and for private circulation only. Its
                contents are disclosed only to the recipient to whom the page link to this page has been sent and addressed.
                It is strictly not for further distribution across media or social communication channels/vehicles. Some
                parts of this page contain confidential and proprietary information belonging to Yellow Seed Content Solutions
                Pvt. Ltd. or its clients. The recipient/viewer must obtain written consent from Yellow Seed Content Solutions
                Pvt. Ltd. before the recipient or any other person acting Yellow Seed Content Solutions Pvt. Ltd. contact@itsyellowseed.com
                | www.itsyellowseed.com on behalf, communicates any information on the contents or subject matter of this
                document or part thereof to any other third party.© www.itsyellowseed.com All rights reserved.
            </p>
        </div>
    </div>
</section>