<section class="awsome">
    <div class="img-banner">
        <img src="img/inside-pages/Awesomeness.jpg" alt="" class="img-responsive">
    </div>
    <div class="slider-sec">
        <div class="row-flex">
            <div class="col-flex1 agency">
                <div class="title">
                    <h1>Agencies</h1>
                </div>
            </div>
            <div class="col-flex2 agency-slide">
                <flex-slider flex-slide="slide in awsomebrands track by $index" animation="slide" animation-loop="false" slideshow="false"
                    prev-text="" next-text="" direction="vertical">
                    <li>
                        <div class="row img-border" ng-repeat="row in slide track by $index">
                            <div class="col-md-4 col-xs-4 col" ng-repeat="wall in row track by $index">
                                <!--<a fancybox href="{{wall.image|uploadpath}}">-->
                                <div class="media-image">
                                    <img ng-src="{{wall.img}}" alt="" class="">
                                    <!--<i class="fa {{wall.icon}}"></i>-->
                                </div>
                                <!--</a>-->
                            </div>
                        </div>
                    </li>
                </flex-slider>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row-flex">
            <div class="col-flex2 brand-slide">
                <flex-slider flex-slide="slide in awsomebrands track by $index" animation="slide" animation-loop="false" slideshow="false"
                    prev-text="" next-text="" direction="vertical">
                    <li>
                        <div class="row img-border" ng-repeat="row in slide track by $index">
                            <div class="col-md-4 col-xs-4 col" ng-repeat="wall in row track by $index">
                                <!--<a fancybox href="{{wall.image|uploadpath}}">-->
                                <div class="media-image">
                                    <img ng-src="{{wall.img}}" alt="" class="">
                                    <!--<i class="fa {{wall.icon}}"></i>-->
                                </div>
                                <!--</a>-->
                            </div>
                        </div>
                    </li>
                </flex-slider>
            </div>
            <div class="col-flex1 agency">
                <div class="title">
                    <h1>Brands</h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p class="txt">*Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
    </div>

</section>