<section class="blog pn50">
    <div class="img-banner">
    </div>
    <div class="container">
        <div class="sub-para">
            <div class="tab-slider">
                <flex-slider flex-slide="s in blog track by $index" touch="true" class="bg-color" slideshow="false" animation="slide" max-items="3" item-width="350" animation-loop="true" move="3">
                    <li auto-heightfixed ng-class={'blog-active':s.activetab} ng-click="inBlog(s._id,s.name,$index)">                    
                        <a ng-click="inBlog(s._id,s.name,$index)">{{s.name}}</a>
                      
                    </li>
                </flex-slider>
            </div>
        </div>
        <div class="img-grid">
            <div class="row img-spac" ng-if="getone.banner">

                <div class="col-md-12">
                    <img ng-src="{{getone.banner|uploadpath }}" alt="" class="img-responsive">
                </div>
            </div>
            <div>
                <div class="foot-sec">
                    <ul class="social-icons list-inline inline-block pull-right">
                        <p class="inline-block">Share</p>
                        <li>
                            <a ng-href="https://www.facebook.com/sharer/sharer.php?u={{myUrl|urlEncode}}/&quote={{getone.name}}" target="_blank">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a ng-href="https://twitter.com/intent/tweet?url={{myUrl|urlEncode}}" target="_blank">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a ng-href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{myUrl|urlEncode}}" target="_blank">
                                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                    </a>
                        </li>

                    </ul>
                </div>
                <h2>{{getone.name}}</h2>
                <div class="sec-border">
                    <p ng-bind-html="getone.content | rawHtml"></p>

                    <div class="foot-sec text-right">
                        <ul class="social-icons list-inline inline-block ">
                            <p class="inline-block">Share</p>
                            <li>
                                <a ng-href="https://www.facebook.com/sharer/sharer.php?u={{myUrl|urlEncode}}&quote={{getone.name}}" target="_blank">
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a ng-href="https://twitter.com/intent/tweet?url={{myUrl|urlEncode}}" target="_blank">
                                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a ng-href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{myUrl|urlEncode}}" target="_blank">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="foot-sec">

                    <div class="row img-spac" ng-if="rel.length>0">
                        <h2>Related Post</h2>
                        <div class="col-md-4 col-sm-4 cursor-pointer" ng-repeat="item in rel track by $index">
                            <img ng-src="{{item.image|uploadpath}}" alt="" class="img-responsive" ng-click="inIndividualBlog(item._id,item.name)">
                            <div class="img-sec">
                                <h3 ng-click="inIndividualBlog(item._id,item.name)">{{item.name}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>