<section class="blog">
    <div class="img-banner">
        <img src="img/inside-pages/blog.jpg" alt="" class="img-responsive">
    </div>


    <div class="container">

        <div class="sub-para">

          <div class="tab-slider">
            <flex-slider flex-slide="s in blog track by $index"  class="bg-color" animation="slide" item-width="280" item-margin="10" animationloop="true" move="2">
               <li auto-heightfixed>
                  <a ng-click="tabchanges(s._id)">{{s.name}}</a>
                  <!-- <a ng-click="tabchanges('Media')">{{s.name}}</a> -->
                   <!-- <img ng-src="{{s}}" class="img-responsive" alt="Hindustan Platinum" auto-heightfixed> -->
               </li>
            </flex-slider>
          </div>
            <!-- <ul class="list-inline text-center">
                <li ng-click="tabchanges('media',1)" ng-class="{{}}"><a href="">Media</a></li>
                <li ng-click="tabchanges('works',2)"><a href="">Content Works</a></li>
                <li ng-click="tabchanges('matter',3)"><a href="">People Matter</a></li>
                <li ng-click="tabchanges('workshop',4)"><a href="">Content Workshop</a></li>
                <li ng-click="tabchanges('brain',5)"><a href="">Right Brain</a></li>
                <li ng-click="tabchanges('review',6)"><a href="">Reviews</a></li>
                <li ng-click="tabchanges('live',7)"><a href="">Live Well</a></li>
            </ul> -->
        </div>

        <pre>{{tabs}}</pre>


        <!--Media Grid-->
        <div class="{{classp}} img-grid" ng-if="tabs=='media'">
            <div class="row img-spac">
            </div>
            <div class="row img-spac">
                <div class="col-md-6" ng-repeat="item in getoneBlogs track by $index">
                    <img ng-src="{{item.image|uploadpath}}" alt="" class="img-responsive">
                    <div class="img-sec" ui-sref="individual-blog({id:s._id})">
                    <div class="img-sec" >
                        <h3>{{item.name}}</h3>
                        <p class="date">{{item.date|date:'longDate'}}</p>
                        <p class="txt" ng-bind-html="item.content | rawHtml"></p>
                    </div>
                </div>

            </div>

        </div>


    </div>
</section>
