<section class="branded pn50">
    <brandedcontent></brandedcontent>>
    <div class="container">
        <div class="sub-para">
            <p class="yellow-tag pd0">
                Win people over with your content. Once you do, you’ll have their trust and win their attention. Say hello to the fine art
                and science of storytelling. Understanding your audience and cracking insights to craft new ideas do come
                naturally. What can we say, it’s a gift! After all, the best stories are the ones that touch a chord and
                then, leave the audience asking for more.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="resize-padd">
                    <h3>
                        <div class="logo-brand">
                            <i class="icon user-review"></i>
                        </div>
                        <div class="head-brand">
                            <span>Branded Content &amp; 360&deg; <br>Integration</span>
                        </div>
                    </h3>
                    <p>
                        First up, content creators like us are allowed to be weird! Ask us and we’ll showcase how we built over 10 pieces each for
                        a different brand in a day. We have also developed a proficient flair for strategizing and executing
                        brand integrations using multiple formats & tie-ups across platforms - for brands and agencies alike.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                    <div class="resize-padd">
                        <h3>
                            <div class="logo-brand">
                                <i class="icon microphone"></i>
                            </div>
                            <div class="head-brand">
                                <span>Copywriting and Other Mumbo Jumbo!</span>
                            </div>
                        </h3>
                        <p>
                            We’re a crazy think tank from another planet. For us content marketing is like a marathon and not a sprint. Our day is full
                            of germinating ideas, designing them and placing it out there for the world to see! Every bit counts
                            especially when it it’s your money on the line. Catchy headlines, creative copy and captivating visuals
                            across print, radio, everyday marketing collateral and digital, we don’t hold back when it comes
                            to meeting your business objectives.<br>We continue to act as consultants
                            to leading platforms and agencies often re-defining how brands are perceived. From content strategy
                            assignments, to calendars & insight maps, give us a tinkle and we'll hopefully surprise you!
                        </p>
                    </div>
                </div>
            <!-- <div class="col-md-6 col-sm-6">
                <div class="resize-padd">
                    <h3>
                        <div class="logo-brand">
                            <i class="icon pie-chart"></i>
                        </div>
                        <div class="head-brand">
                            <span> Marketing Collateral</span>
                        </div>
                    </h3>
                    <p>
                        Every bit counts. Especially when it is a part of your marketing communication. Catchy marketing collaterals can help you
                        imprint lasting impressions on your customers.
                    </p>
                </div>
            </div> -->
        </div>
        <!-- <div class="row"> -->
            <!-- <div class="col-md-6 col-sm-6">
                <div class="resize-padd">
                    <h3>
                        <div class="logo-brand">
                            <i class="icon speaker"></i>
                        </div>
                        <div class="head-brand">
                            <span>Advertising &amp; Sales Campaign</span>
                        </div>
                    </h3>
                    <p>
                        From germinating the ideas, to watering them, nurturing them, growing them and also bearing the fruits – we ideate, craft
                        and execute campaigns at every level required.
                    </p>
                </div>
            </div> -->
        <!-- </div> -->
        <!-- <div class="resize-padd mgt30">
            <h2 class="text-center">
       Also View
     </h2>
    </div> -->

        <div class="no-padding one backgroundtrans pd40 text-center">
            <div class="circle-cont new-circle">
                <ul class="list-inline img-list">
                    <li>
                        <a ui-sref="content-strategy">
                            <div class="circle relative">
                                <figure><img src="img/home-page/content.png" class="img-responsive" alt=""></figure>
                                <figcaption class="text-center">Content <br>Strategy &amp; Wisdom</figcaption>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="digital">
                            <div class="circle relative">
                                    <figure> <embed src="img/home-page/digitalhover.svg" type="image/svg+xml" /> </figure>
                                    <figcaption class="text-center"><br>Digital</figcaption>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="internal-communication">
                            <div class="circle relative">
                                    <figure> <embed src="img/home-page/corporatehover.svg" type="image/svg+xml" /> </figure>
                                    <figcaption class="text-center">Internal Communications<br></figcaption>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="the-studio">
                            <div class="circle relative">
                                    <figure><embed src="img/home-page/studiohover.svg" type="image/svg+xml" /> </figure>
                                    <figcaption class="text-center">The<br> Studio</figcaption>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="design">
                            <div class="circle relative">
                                    <figure> <embed src="img/home-page/designhover.svg" type="image/svg+xml" /> </figure>
                                    <figcaption class="text-center"><br>Design</figcaption>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="spacer"></div>
        </div>
        <!-- <div class="iphone">
        <img src="img/inside-pages/brandcontent/iphone.png" alt="">
    </div> -->
        <!-- <div class="news-paper">
        <img src="img/inside-pages/brandcontent/news-paper.png" alt="">
    </div> -->
</section>