<section class="branded pn50">
    <div class="img-banner">
        <img src="img/inside-pages/branded.jpg" alt="">
    </div>
    <div class="container">
        <div class="sub-para">
            <p class="yellow-tag pd0">
                Every brand has a story to tell. Only the wise have theirs well-told. Say hello to the fine art and science of storytelling.
                Understanding your audience and cracking insights to develop new ideas does come naturally. What can we say,
                it’s a gift! We could go on, but the best stories are the ones that touch a chord and then, leave the audience
                asking for more.
            </p>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
              <div class="resize-padd">
                  <h3>
                      <div class="logo-brand">
                        <i class="icon user-review"></i>
                      </div> <div class="head-brand">
                        <span>Branded Content &amp; 360&deg; Integration</span>
                      </div>
                  </h3>
                  <p>
                      If practice makes man perfect, we have indeed practiced enough to perfect the art of creating branded content. We have also developed
                      a proficient flair for strategizing and executing brand integrations across various platforms.
                  </p>
              </div>
          </div>
          <div class="col-md-6 col-sm-6">
              <div class="resize-padd">
                  <h3>
                      <div class="logo-brand">
                        <i class="icon pie-chart"></i>
                      </div><div class="head-brand">
                        <span> Marketing Collateral</span>
                      </div>
                  </h3>
                  <p>
                      Every bit counts. Especially when it is a part of your marketing communication. Catchy marketing collaterals can help you
                      imprint lasting impressions on your customers.
                  </p>
              </div>
          </div>
    </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
              <div class="resize-padd">
                  <h3>
                    <div class="logo-brand">
                        <i class="icon speaker"></i>
                    </div> <div class="head-brand">
                      <span>Advertising &amp; Sales Campaign</span>
                    </div>
                  </h3>
                  <p>
                      From germinating the ideas, to watering them, nurturing them, growing them and also bearing the fruits – we ideate, craft
                      and execute campaigns at every level required.
                  </p>
              </div>
          </div>
            <div class="col-md-6 col-sm-6">
                <div class="resize-padd">
                    <h3>
                    <div class="logo-brand">
                          <i class="icon microphone"></i>
                    </div><div class="head-brand">
                      <span> Copywriting for Print, Outdoor &amp; Radio</span>
                    </div>
                    </h3>
                    <p>
                        Catchy headlines, creative copy and captivating visuals – we have an expert team that can produce the best content relevant
                        for any given media channel.
                    </p>
                </div>
            </div>

        </div>
        <div class="resize-padd mgt30">
            <h2 class="text-center">
       Also View
     </h2>
    </div>

        <div class="no-padding one backgroundtrans pd40">
            <div class="circle-cont new-circle">
                <ul class="list-inline img-list">
                  <li>
                    <a ui-sref="content-strategy">
                      <div class="circle relative">
                        <img src="img/home-page/1-Content-Strategy.png" class="img-responsive doneLoading" alt="">
                        <span class="text-content" ui-sref="content-strategy">Content <br>Strategy <br>&amp; Wisdom</span>
                      </div>
                    </a>
                  </li>
                  <li>
                      <a ui-sref="digital">
                          <div class="circle relative">
                              <img src="img/home-page/2-Digital.png" class="img-responsive" alt="" />
                              <span class="text-content" ui-sref="digital">Digital</span>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a ui-sref="internal-communication">
                          <div class="circle relative">
                              <img src="img/home-page/4-Internal-Communication.png" class="img-responsive" alt="" />
                              <span class="text-content">Internal Communications</span>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a ui-sref="the-studio">
                          <div class="circle relative">
                              <img src="img/home-page/5-Media-Center.png" class="img-responsive" alt="" />
                              <span class="text-content" ui-sref="the-studio">The<br> Studio</span>
                          </div>
                      </a>
                  </li>
                      <li>
                              <a ui-sref="design">
                                  <div class="circle relative">
                                      <img src="img/home-page/design.png" class="img-responsive" alt="" />
                                      <span class="text-content">Design</span>
                                  </div>
                              </a>
                          </li>

                </ul>
            </div>
        <div class="spacer"></div>
    </div>
    <div class="iphone">
        <img src="img/inside-pages/brandcontent/iphone.png" alt="">
    </div>
    <div class="news-paper">
        <img src="img/inside-pages/brandcontent/news-paper.png" alt="">
    </div>
</section>
