<section class="cont-strategy pn50">
  <div class="img-banner">
    <img src="img/inside-pages/content.jpg" class="img-responsive" alt="">
  </div>


  <div class="container">
    <div class="sub-para">
      <p class="yellow-tag">
        Your prospective clients and consumers are watching you and more importantly, forming opinions – be it through your website,
        across social networks and through every piece of communication you share. At the same time, every vehicle or channel
        has a voice and tone to be followed. Since our inception, we have <span class="bold">partnered with leading agencies and brands</span>        to help develop content strategies and campaign ideas that simply click!
      </p>
      <p class="yellow-tag">
        So if you are out to present a ‘lip smacking dish’ here is what’s cooking under our chef hats.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="resize-padd">
          <h3>
            <i class="icon multiple-users"></i> Audience
          </h3>
          <p>
            Undoubtedly, the heart of your content strategy. We invest time to understand your consumer, pick the right ingredients and
            specific content requirements applicable to your company and industry.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="resize-padd">
          <h3>
            <i class="icon palette-brush"></i> Theme
          </h3>
          <p>
            Call this the melting and tasty information which creates the much needed connect between you and your customer – something
            that remains with your audience.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="resize-padd">
          <h3>
            <i class="icon chat-speech-bubbles"></i> Voice & Tone
          </h3>
          <p>
            The added seasoning that enriches the quality of your content, relevance to your brand and the medium being used. Just like
            food, these change according to cultural differences and your industry.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="resize-padd">
          <h3>
            <i class="icon doc"></i> Format
          </h3>
          <p>
            The mix and match of content condiments that add to the quality and diversity of your dish as you set to integrate your brand
            into the minds of your consumer. Strategize. Plan. Create & Curate your way into the minds of your consumers.
          </p>
        </div>
      </div>
    </div>



  </div>
  <div class="pencil-inner">
    <img src="img/inside-pages/content/pencil.png" alt="" class="img-responsive">
  </div>

  <div class="paper">
    <img src="img/inside-pages/content/paper.png" alt="" class="img-responsive">
  </div>
</section>
