<section class="design pn50">

    <div class="img-banner">
        <img src="img/inside-pages/design.jpg" alt="">
    </div>


    <div class="container">
        <div class="sub-para">
            <p class="yellow-tag">
                Design is about finding balance. Crafting your identity in a refreshing way. Truth be told, the right visual identity does add a 1000 words. Whether it’s about presenting complex data in a manner that’s easy to comprehend or simply about bringing a smile, design works wonders!
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon brand"></i> Brand Identity
                    </h3>
                    <p>
                        We have a knowhow of the best techniques to leverage your brand by designing/re-designing its logo, tagline, tone, typeface, building the brand’s identity as well as adds to its exclusivity.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon panel-icon"></i> Infographics
                    </h3>
                    <p>
                        Information is best consumed when presented in an attractive format. Our team of creative experts understands this just right! We are well versed with the art of presenting precise factual information designed in a neat and engaging pictographic layout.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon notebook"></i> Landing Pages
                    </h3>
                    <p>
                        The goal of all your marketing efforts is to eventually draw traffic to your website and your brand. With an eye- catching landing page, that hooks your visitors and keeps their record at the back end, you can win half your game through!
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon twitter-logo"></i> Social Media Post
                    </h3>
                    <p>
                        We talk in the language our audiences want to hear. We have a hands down experience on designing appealing creatives for all social media platforms including – LinkedIn, Facebook, Twitter, Instagram, and YouTube descriptions. Rest assured on the Likes, Comments, Shares!
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon open-book"></i> Flip Books
                    </h3>
                    <p>
                        Good stories become memorable when they are narrated exquisitely. Whatever the format of your narrative, our team of talented designers can add colours to your story, making it impressive as well as unforgettable.
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="note-tab">
        <img src="img/inside-pages/design/tab.png" class="img-responsive" alt="">
    </div>

    <div class="pencil-color-box">
        <img src="img/inside-pages/design/pencil-stand.png" class="img-responsive" alt="">
    </div>

</section>
