<section class="digital pn50">
  <div class="img-banner">
    <img src="img/inside-pages/digital.jpg" alt="">
  </div>


  <div class="container">
    <div class="sub-para">
      <p class="yellow-tag">
        We're inarguably in the era of two-way communication and guess what? We are all part of the digital publishing cycle. Every
        tweet, comment, like or post you put out there simply adds to your story as you attempt to add a personality to your
        conversations and demonstrate expertise in your field. #Attract. #Inform. #Engage. #Reach Out. #Start a dialogue.
        #Build Efficacy #Kick Ass
      </p>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="resize-padd">
          <h3>
            <i class="icon www"></i> Websites & Blogs
          </h3>
          <p>
            First impression has to be the best impression. And, we help you make it a memorable one too. From making the most impressive
            website copies to crafting your brand’s opinions in the most appropriate manner, we do it all.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="resize-padd">
          <h3>
            <i class="icon crown"></i> Thought Leadership Articles
          </h3>
          <p>
            Taking a deep dive in industry specific insights, trends and analyses, we specialise in generating path-breaking thought
            leadership articles that put forth the thought of senior management executives in impactful ways.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="resize-padd">
          <h3>
            <i class="icon facebook-logo"></i> Social Media Platform Content
          </h3>
          <p>
            With a precise understanding of what works and what doesn’t we ensure that your social media content engages your audience
            beyond the ROI and KPI scores.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="resize-padd">
          <h3>
            <i class="icon newspaper-report"></i> Press Releases
          </h3>
          <p>
            We feel extremely proud to say that our expertise in content is backed by our in-depth understanding of the varied formats
            that we write for. We have notable experience in writing press releases for our clients from diversified industries.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="resize-padd">
          <h3>
            <i class="icon letters"></i> Regional Adaptation & Tranlation
          </h3>
          <p>
            We believe in generating content across all barriers – not linguistic, nor cultural. We have hands on experience in translation
            and regional adaptation of content, across any language, Indian or foreign.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="resize-padd">
          <h3>
            <i class="icon e-book-rss"></i> White Papers & eBooks
          </h3>
          <p>
            As the format of content changes, so does the way of thinking for it. We master that art too! Be it extensively informative
            and educative whitepapers or piquant eBooks – we have a team that can compose it all.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="resize-padd">
          <h3>
            <i class="icon search"></i> SEO Content
          </h3>
          <p>
            Optimizing content with relevant keywords without losing on the meaning is another content marketing skill that we have profoundly
            mastered. Would you like to give us a chance to prove it to you?
          </p>
        </div>
      </div>
    </div>

    <div class="spacer"></div>

  </div>

  <div class="book">
      <img src="img/inside-pages/digital/book.png" class="img-responsive" alt="">
  </div>

  <div class="mac">
      <img src="img/inside-pages/digital/mac.png" class="img-responsive" alt="">
  </div>

  <div class="pot">
      <img src="img/inside-pages/digital/pot.png" class="img-responsive" alt="">
  </div>

</section>
