<section class="digital pn50">

  <digital></digital>

  <div class="container">
    <div class="sub-para">
      <p class="yellow-tag">
        When it comes to #social and #digital media, imagine your brand to be on a ‘first date’. If all you do as a brand is to talk
        about yourself, wonder if there will be a second one. We are all part of the publishing cycle. Content is contagious.
        Every tweet, comment, case study or like or post you put out there simply adds to your story as you demonstrate expertise
        in your field. #Attract. #Inform. #Engage. #Reach Out. #Start a dialogue. #Build Efficacy #Kick Ass
      </p>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="resize-padd">
          <h3>
            <i class="icon www"></i> Websites &amp; Blogs
          </h3>
          <p>
            Audience attention spans are shorter than a goldfish and first impressions matter. We’ll help you make it a superb one though.
            From site architecture maps &amp; impressive website copy to crafting relevant brand opinions through long and
            short format content, you can count on us.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="resize-padd">
          <h3>
            <i class="icon crown"></i> Thought Leadership Articles
          </h3>
          <p>
            Deep-diving into industry-specific insights, we specialize in culling out path-breaking thought leadership articles that
            add value to relevant profiles across sectors. Often, these are made after a thorough understanding of your business
            and leadership.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="resize-padd">
          <h3>
            <i class="icon e-book-rss"></i> White Papers &amp; eBooks
          </h3>
          <p>
            As content formats change, so does the way of thinking about them. From extensively informative and educative whitepapers
            to piquant eBooks – we have a team that can deliver industry specific insights that work for your brand.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="resize-padd">
          <h3>
            <i class="icon newspaper-report"></i> Press Releases
          </h3>
          <p>
            Get the word out in a way that people will stand up and take notice! We’ve worked with Start-ups and PR firms to craft timely
            press releases &amp; award entries in multiple formats for a diverse set of clientele.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="resize-padd">
          <h3>
            <i class="icon letters"></i> Regional Adaptation &amp; Translation
          </h3>
          <p>
            Content knows no boundaries. Be it linguistic, or cultural. We have hands-on experience in translation and regional adaptation
            of content, across any language, Indian or foreign.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="resize-padd">
          <h3>
            <i class="icon search"></i> SEO Content
          </h3>
          <p>
            Algorithms have changed. The logic redefined. And it’s changing. You need someone who will understand and optimize your content
            hub without losing the essence of what you want to say. SEO is no longer about key words but more about relevance.
            Talk to us and we’ll confirm that! In fact, content is the reason search was invented.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="resize-padd">
          <h3>
            <i class="icon facebook-logo"></i> Social Media Platform Content
          </h3>
          <p>
            Everyone out there is not your customer and investing in social media is a commitment, not a campaign. We understand what
            is more likely to engage with your audience and go beyond the metrics. From crisp copy to catchy headlines and
            quirky videos, you’ve got to let us showcase what we can do. P.S. We’d rather play to the platform than create
            stuff one simply replicates.
          </p>
        </div>
      </div>

    </div>
    <!-- <div class="resize-padd mgt30">
        <h2 class="text-center">
   Also View
 </h2>
</div> -->

    <div class="no-padding one backgroundtrans pd40 text-center">
      <div class="circle-cont new-circle">
        <ul class="list-inline img-list">
          <li>
            <a ui-sref="content-strategy">
              <div class="circle relative">
                <figure><img src="img/home-page/content.png" class="img-responsive" alt=""></figure>
                <figcaption class="text-center">Content <br>Strategy &amp; Wisdom</figcaption>
              </div>
            </a>
          </li>

          <li>
            <a ui-sref="branded-content">
              <div class="circle relative">
                <figure><img src="img/home-page/branded.png" class="img-responsive" alt="" /></figure>
                <figcaption class="text-center">Branded<br> Content</figcaption>
              </div>
            </a>
          </li>
          <li>
            <a ui-sref="internal-communication">
              <div class="circle relative">
                <figure><img src="img/home-page/corporate.png" class="img-responsive" alt="" /></figure>
                <figcaption class="text-center">Corporate Communications</figcaption>
              </div>
            </a>
          </li>
          <li>
            <a ui-sref="the-studio">
              <div class="circle relative">
                <figure><img src="img/home-page/studio.png" class="img-responsive" alt="" /></figure>
                <figcaption class="text-center">The<br> Studio</figcaption>
              </div>
            </a>
          </li>
          <li>
            <a ui-sref="design">
              <div class="circle relative">
                <figure><img src="img/home-page/design.png" class="img-responsive" alt="" /></figure>
                <figcaption class="text-center"><br>Design</figcaption>
              </div>
            </a>
          </li>

        </ul>
      </div>
      <div class="spacer"></div>

    </div>

    <!-- <div class="book">
      <img src="img/inside-pages/digital/book.png" class="img-responsive" alt="">
  </div> -->

    <!-- <div class="mac">
      <img src="img/inside-pages/digital/mac.png" class="img-responsive" alt="">
  </div> -->

    <!-- <div class="pot">
      <img src="img/inside-pages/digital/pot.png" class="img-responsive" alt="">
  </div> -->

</section>