<div class="fullpage">
<div class="home mg">
<section  class="section head"  ng-include="section.head" autoHeight></section>
<section  class="section zero"  ng-include="section.zero" autoHeight></section>
<section  class="section one"  ng-include="section.one" autoHeight></section>
<section  class="section two"  ng-include="section.two" autoHeight></section>
<section  class="section three" ng-include="section.three" autoHeight></section>
<section  class="section four"  ng-include="section.four" autoHeight></section>
<section  class="section five"  ng-include="section.five" autoHeight></section>
<section  class="section six"  ng-include="section.six" autoHeight></section>
<section  class="section seven"  ng-include="section.seven" autoHeight></section>
<section  class="section eight"  ng-include="section.eight" autoHeight></section>
</div>
</div>
