<div class="fullpage">
<div class="home mg">
<section  class="section head autoHeight"  ng-include="section.head"></section>
<section  class="section zero autoHeight"  ng-include="section.zero"></section>
<section  class="section one autoHeight"  ng-include="section.one"></section>
<section  class="section two autoHeight"  ng-include="section.two"></section>
<section  class="section three autoHeight" ng-include="section.three"></section>
<section  class="section four autoHeight"  ng-include="section.four"></section>
<section  class="section five autoHeight"  ng-include="section.five"></section>
<section  class="section six autoHeight"  ng-include="section.six"></section>
<section  class="section seven autoHeight"  ng-include="section.seven"></section>
<section  class="section eight autoHeight"  ng-include="section.eight"></section>
</div>
</div>
