<section class="internal pn50">
    <div class="img-banner">
        <img src="img/inside-pages/communication.jpg" alt="" class="img-responsive">

    </div>


    <div class="container">
        <div class="sub-para">
            <p class="yellow-tag">
                What if we told you that you are sitting on a goldmine of brand advocates who worship you? Or that once you’ve communicated
                effectively to them, they remain advocates for ever? The thing is, your internal stakeholders are as important
                as your paying audience. After all, they are consumers with opinions and a desire to know more. Say it right.
                Keep it consistent.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon manager"></i> CXO Profiling & Authored Articles
                    </h3>
                    <p>
                        Creating the profiles of company heads and authored articles that go from their desks come with a distinct responsibility.
                        We ensure matching the company’s objectives, mission and vision with the image and opinions of the
                        chiefs we write for.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon presentation"></i> Presentation Decs
                    </h3>
                    <p>
                        Great ideas get due justice only when they are presented in an engaging manner. We specialise in crafting thoughtful strategies,
                        business or marketing pitches in appealing as well as interactive formats.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon email-icon"></i> Emailers & Newsletters
                    </h3>
                    <p>
                        We don’t let our efforts go down the drain, nor do we let our emailers and newsletters go blindly to trash. With likable
                        presentation and engaging content we ensure that the newsletters or emailers we design get their
                        due attention.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon trophy-cup"></i> Award Entries
                    </h3>
                    <p>
                        Doing awesome work for your clients and winning accolades for the amazing work done are two ends that we all aspire to meet.
                        We help bridging this gap with our expertise in scripting eye-catching award entries and work portfolios.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon meeting"></i> Employeer Talent Communication
                    </h3>
                    <p>
                        Every organization is bound to be more successful when objectives well absorbed by its employees. We help devising the internal
                        communications in an organization, helping our client companies and their talent stay in sync with
                        each other.
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="mike">
        <img src="img/inside-pages/internal/mike.png" alt="" class="img-responsive">
    </div>

    <div class="headphone">
        <img src="img/inside-pages/internal/headphone.png" alt="">
    </div>

</section>
