<section class="internal pn50">
    <embed class="hidden-xs" src="img/inside-pages/communication.svg" type="image/svg+xml" />
    <div class="visible-xs">
        <img src="img/inside-pages/mobilecommunication.svg">
    </div>
    <div class="container">
        <div class="sub-para">
            <p class="yellow-tag">
                What if we told you that you are sitting on a goldmine of brand advocates who worship you? And that once you’ve communicated
                effectively to them, they remain advocates forever! The thing is, internal stakeholders are as important
                as a paying audience. After all, they are consumers with opinions and a desire to know more. Say it right.
                Keep it consistent.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon manager"></i> CXO Profiling &amp; Authored Articles
                    </h3>
                    <p>
                        Creating profiles and managing a calendar of authored articles that position leaders in the right way, comes with a fair
                        amount of discretion and responsibility. As a team, we understand that and ensure that we match company
                        objectives, and vision with the image and opinions of the chiefs we craft communication for.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon meeting"></i> Employer Talent Communication
                    </h3>
                    <p>
                        Research shows that every employee you lose is worth the cost of six! Your company and brand is bound to be more successful
                        when objectives & a sense of purpose are well absorbed internally. From devising internal communication
                        strategies to thinking new talent communication on LinkedIn, we help our clients & their talent stay
                        in sync with each other.
                    </p>
                </div>
            </div>
            <!-- <div class="col-md-6 col-sm-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon presentation"></i> Presentation Decks
                    </h3>
                    <p>
                            Great ideas get due justice only when they are presented in an engaging manner. We specialize in crafting thoughtful communication strategy, business or marketing pitches, corporate videos and company newsletters in appealing as well as interactive formats. #NotJustBoringPPTs
                    </p>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon email-icon"></i> Emailers &amp; Newsletters
                    </h3>
                    <p>
                        We don’t let our efforts go down the drain, nor do we let our emailers and newsletters go blindly to trash. With likeable
                        presentation and engaging content we ensure that the newsletters or emailers we design get their
                        due attention.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon trophy-cup"></i> Award Entries
                    </h3>
                    <p>
                        Doing awesome work for your clients and winning accolades for the amazing work done are goals that we aspire to meet. We
                        help to bridge this gap with our expertise in scripting eye-catching award entries, scripts, brand
                        books and work portfolios.
                    </p>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                <div class="resize-padd">
                    <h3>
                        <i class="icon meeting"></i> Employer Talent Communication
                    </h3>
                    <p>
                            Research shows that every employee you lose is worth the cost of six! Your company and brand is bound to be more successful when objectives & a sense of purpose are well absorbed internally. From devising internal communication strategies to thinking new talent communication on LinkedIn, we help our clients & their talent stay in sync with each other.
                    </p>
                </div>
            </div>
        </div> -->

        <!-- <div class="resize-padd mgt30">
            <h2 class="text-center">
       Also View
     </h2>
    </div> -->

        <div class="no-padding one backgroundtrans pd40">
            <div class="circle-cont new-circle text-center">
                <ul class="list-inline img-list">
                    <li>
                        <a ui-sref="content-strategy">
                            <div class="circle relative">
                                <figure>
                                        <embed class="hidden-xs" src="img/home-page/contenthover.svg" type="image/svg+xml" /><img class="visible-xs" src="img/home-page/mobilecontent.svg">
                                </figure>
                                <figcaption class="text-center">Content
                                    <br>Strategy &amp; Wisdom</figcaption>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="digital">
                            <div class="circle relative">
                                <figure>
                                        <embed class="hidden-xs" src="img/home-page/digitalhover.svg" type="image/svg+xml" /><img class="visible-xs" src="img/home-page/mobiledigital.svg">
                                </figure>
                                <figcaption class="text-center"><br>Digital</figcaption>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="branded-content">
                            <div class="circle relative">
                                <figure>
                                        <embed class="hidden-xs" src="img/home-page/brandedhover.svg" type="image/svg+xml" /> <img class="visible-xs" src="img/home-page/mobilebranded.svg">
                                    </figure>
                                <figcaption class="text-center">Branded
                                    <br> Content</figcaption>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="the-studio">
                            <div class="circle relative">
                                <figure>
                                        <embed class="hidden-xs" src="img/home-page/studiohover.svg" type="image/svg+xml" /> <img class="visible-xs" src="img/home-page/mobilestudio.svg">
                                    </figure>
                                <figcaption class="text-center">The
                                    <br> Studio</figcaption>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="design">
                            <div class="circle relative">
                                <figure>
                                        <embed class="hidden-xs" src="img/home-page/designhover.svg" type="image/svg+xml" /> <img class="visible-xs" src="img/home-page/mobiledesign.svg"> </figure>
                                <figcaption class="text-center"><br>Design</figcaption>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>


            <div class="spacer"></div>
        </div>
        <!-- <div class="mike">
        <img src="img/inside-pages/internal/mike.png" alt="" class="img-responsive">
    </div>
    <div class="headphone">
        <img src="img/inside-pages/internal/headphone.png" alt="">
    </div> -->
</section>