<section class="media pn50">
    <div class="img-banner">
        <img src="img/inside-pages/Media.jpg" alt="">
    </div>


    <div class="container mb30">
        <div class="sub-para">
            <p class="yellow-tag text-center">
                You won't really hear us blow our own trumpet. It's just the way we are. But then, you can't really hide being happy. Enough
            </p>
        </div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">

                <div class="media-slider">
                    <flex-slider class="carousel" flex-slide="img in medias track by $index" touch="true" animation="slide" animation-loop="false" as-nav-for="#slider"
                        slide-show="false">
                        <li>
                            <div class="media-imgholder">
                                <div class="row bord-cus" ng-repeat="row in img track by $index">
                                    <div class="col-xs-2 bord-cus1" ng-repeat="clientimg in row track by $index">
                                        <div class="img-holder listing">
                                            <img ng-src="{{clientimg}}" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </flex-slider>
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>


    </div>
</section>
