<section class="the-studio pn50">

  <div class="img-banner">
    <img src="img/inside-pages/thestudio.jpg" alt="">
  </div>

  <!-- <div class="reel">
    <img src="img/inside-pages/reel.png" class="img-responsive" alt="">
  </div>

  <div class="camera">
    <img src="img/inside-pages/camera.png" class="img-responsive" alt="">
  </div> -->

  <div class="container">
    <div class="sub-para">
      <p class="yellow-tag">
        Think about the last piece of communication you consumed. Chances are, it’s a video embedded in a blog from your favourite
        site that you saw on your phone. From crafting brand stories that grab attention or simply explaining a concept through
        a testimonial, a video starts with an idea, leads to a script and then ends up being a memory that builds recall
        and preference.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="resize-padd">
          <h3>
            <i class="icon photo-camera"></i> Photo Shoots &amp; Editing
          </h3>
          <p>
            Our work has always encouraged us to explore beyond leaps and bounds. Thanks to that, we have a strong network of professionals
            that assist us in offering add-on services like organizing corporate or advertising photo-shoots, film or video
            editing et al.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="resize-padd">
          <h3>
            <i class="icon clapperboard"></i> Corporate Films &amp; AVs
          </h3>
          <p>
            A good video is a story well told. Your story deserves its moment and it’s only fair that the execution is spotless. From
            social experiments to corporate scripts, we’ll give you an idea you won’t refuse. Unless of course, budget is
            a constraint. If so, that’s ok! We’ll figure something that works. Period.
          </p>
        </div>
      </div>

      <!-- <div class="col-md-6">
        <div class="resize-padd">
          <h3>
            <i class="icon video-camera"></i> Training Videos
          </h3>
          <p>
            We are always on our toes to provide the best possible solutions to our clients. Even if that requires us to help brands
            construct special training videos, we have a talented team that can pull it all.
          </p>
        </div>
      </div> -->
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="resize-padd">
          <h3>
            <i class="icon youtube"></i> Webisodes
          </h3>
          <p>
            Yes, we can also write webisodes! We aren’t just attuned to latest trends but also enjoy being proficient at new age literary
            arts. Have you seen some work yet? From a web series to animation our network of video wizards might just end
            up dazzling you!
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="resize-padd">
          <h3>
            <i class="icon script"></i> Scripts &amp; Storyboards
          </h3>
          <p>
            We get it! Sometimes, all you need is a superb script to bring your brand promise to life. Sketching our imagination, we
            craft scripts and storyboards for TV, short films, events or any platform. We also have a strong network of professionals
            that assist us in offering add-on services like organizing photo-shoots, film or video editing et al.
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-6">
        <div class="resize-padd">
          <h3>
            <i class="icon figure-skating"></i> Animatics
          </h3>
          <p>
            As we diversify our footprints into video content, we have an established network of amazing animators with whom we have
            created some kickass anime work.
          </p>
        </div>
      </div>
    </div> -->
    <!-- <div class="resize-padd mgt30">
        <h2 class="text-center">
   Also View
 </h2>
</div> -->

    <div class="no-padding one backgroundtrans pd40">
      <div class="circle-cont new-circle text-center">
        <ul class="list-inline img-list">
          <li>
            <a ui-sref="content-strategy">
              <div class="circle relative">
                <img src="img/home-page/content.png" class="img-responsive doneLoading" alt="">
                <span class="text-content" ui-sref="content-strategy">Content <br>Strategy <br>&amp; Wisdom</span>
              </div>
            </a>
          </li>
          <li>
            <a ui-sref="digital">
              <div class="circle relative">
                <img src="img/home-page/digital.png" class="img-responsive" alt="" />
                <span class="text-content" ui-sref="digital">Digital</span>
              </div>
            </a>
          </li>
          <li>
            <a ui-sref="branded-content">
              <div class="circle relative">
                <img src="img/home-page/branded.png" class="img-responsive" alt="" />
                <span class="text-content">Branded<br> Content</span>
              </div>
            </a>
          </li>
          <li>
            <a ui-sref="internal-communication">
              <div class="circle relative">
                <img src="img/home-page/corporate.png" class="img-responsive" alt="" />
                <span class="text-content">Internal Communications</span>
              </div>
            </a>
          </li>
          <li>
            <a ui-sref="design">
              <div class="circle relative">
                <img src="img/home-page/design.png" class="img-responsive" alt="" />
                <span class="text-content">Design</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="spacer"></div>
    </div>
</section>