<div class="we-believe">
    <embed class="hidden-xs" src="img/home-page/trial.svg" type="image/svg+xml" /> 
    <div class="visible-xs"><img src="img/home-page/mobilemain.png" class="img-responsive"></div>

  <section class="we-one">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="pl30 prl40">
            <h1>We Believe</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="pl40 mb20">
            <p>
              In being Awesome. Creative. Innovative. Fun. In being prompt and ready for change. In the process of what we do. In doing
              Kick-ass work. We are here for a reason. Our role adds value. Our decisions have real time impact.
            </p>
            <p>
              In taking action. For ideas if not well-executed will mean nothing. We believe in helping first and selling later for we
              are hungry but not desperate.
            </p>
            <p>
              Instead of selling a service, we’d rather focus on doing what is best for our client. Even if it means telling them that
              we are not the right person for the job.
            </p>
          </div>
        </div>

        <div class="respect">
          <div class="row">
            <div class="col-md-9">
              <h1 class="mb20">We Respect</h1>
              <p>
                Clients. Commitments. Confidentiality. Our Colleagues. Ideas. Partners and the value we add through work.
              </p>
            </div>
          </div>

          <!-- <div class="tree ng-scope">
            <img src="img/home-page/tree.png" class="img-responsive doneLoading" alt="">
          </div> -->

        </div>

      </div>
    </div>
  </section>

  <section class="we-two">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-5">
          <div class="prl40">
            <h1>We Have</h1>
            <h2>The Autonomy to be Awesome.</h2>
            <p>
              We are empowered to take decisions that will work for the business. No matter how simple or crazy the idea. All we do ensure
              is to use good judgement.
            </p>
            <p>
              What’s that? Simple. Team > Self.
            </p>
          </div>

        </div>

        <div class="col-md-5 col-sm-5">
          <h1>We Don't</h1>
          <p>
            Exploit, cheat or steal credit. In a perfect world that likes these things, we’d rather be the ‘loose nut’ that begs to differ.
          </p>
          <p>
            We <span class="bold">value integrity</span> more than anything.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="we-three">

    <!-- <div class="clock ng-scope">
      <img src="img/home-page/clock.png" class="img-responsive doneLoading" alt="">
    </div> -->

    <div class="pencil ng-scope hidden-xs">
      <img src="img/home-page/pencil.jpg" class="img-responsive doneLoading" alt="">
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="prl40">
          <h1 class="extra-size mt2em">What Really Matters To Us</h1>
          <h2>Results > Hours Spent At Work.</h2>
          <p class="fs18">
            We will never fuss about how long one should hang around in office or track time as long as work is completed within deadlines
            and client commitments are met.
          </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="we-four">

    <!-- <div class="coffee ng-scope">
      <img src="img/home-page/coffee.png" class="img-responsive doneLoading" alt="">
    </div> -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="prl40">
            <h1>We Are</h1>
            <p>
              Uncomfortably brutal when it comes to transparency. The intent is to support the right behavior and better decision making.
            </p>
            <p>
              Picky about whom we pick. We love people with heart more than grades. Ones who are Humble [Take Responsibility & Give Credit],
              are Effective [Make a dent. Get Shit done], Adaptable [Life Long Learners], Remarkable [Understand the business,
              are Creative & Resourceful] and are Transparent [With us and others].
            </p>
            <p>
              We don’t hire brilliant qualified jerks. Period. Instead, we bet on people.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
