<section class="workshop pn50">
    <div class="img-banner">
        <img src="img/inside-pages/Workshops.jpg" alt="">
    </div>
    <div class="container">
        <div class="sub-para">
            <p class="yellow-tag">
                We believe, what one creates or accumulates over a period of time, must be passed on, and this holds true even for knowledge.
                We regularly conduct masterclasses and workshops where aspiring and enthusiastic professionals can benefit
                from our expertise in content strategy & development. This also serves as a platform to learn and share ideas,
                thereby fostering creativity. Sow a seed and watch the idea grow!
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon content-brief"></i> Cracking the Content Brief
                    </h3>
                    <p>
                        You’ve got the media vehicles. You’ve even got a great insight and you know exactly how social media works. But, what next?
                        We answer this question (and a few more) through our practical insight led workshop – Cracking the
                        Content Brief. Right from helping you a find a voice that works for your brand, to giving you ideas
                        on how to keep the conversation going, we cover it all. Perfect, if you want to keep your consumers
                        coming back for more.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon pencil-icon"></i> Creative Writing
                    </h3>
                    <p>
                        It’s so much more than the usual writing workshops. Instead of making you write and write and write, we focus on tackling
                        your creative/writing blocks and gently direct you towards creating and articulating challenging
                        content ideas. With fun exercises, interesting theoretical concepts and challenging but exciting
                        writing prompts, not once during the entire session will you get bored – take our word for it.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon outbox"></i> Out of the Box
                    </h3>
                    <p>
                        If you have ever been stuck when it comes to forming catchy headlines, differentiating your brand from the others or are
                        just running about in circles while trying to figure out new concepts that connect with your brand
                        – this workshop is for you. Using creative thinking techniques and brand concepts, this activity
                        based workshop assists you in solving these and more such questions. All in an attempt to open your
                        mind to wider possibilities and great new ideas!
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="resize-padd">
                    <h3>
                        <i class="icon eye"></i> Visual Communication
                    </h3>
                    <p>
                        Eating with our eyes also holds true when it comes to content. Gone are the days when one can only rely on the written word.
                        Everyone needs something to feast their eyes on. This workshop revolves around how you as a brand
                        or an individual can create visually appealing, yet relevant content that complements your communication
                        objectives. And with predictions saying 84% of the communication will be visual by 2018, this workshop
                        is the need of the hour.
                    </p>
                </div>
            </div>
        </div>
        <div class="shout text-center">
            <label class="pointer" ng-click="changeURL('contact')">Enroll Today</label>
        </div>
        <!-- <div class="pencil-crap">
            <img src="img/workshop/pencil.jpg" alt="">
        </div>
        <div class="ys-book">
            <img src="img/workshop/yellowseed-book.png" alt="">
        </div>
        <div class="coffee">
            <img src="img/workshop/coffee.png" alt="">
        </div> -->
    </div>
</section>
