<footer class="inner-foot">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="list-inline mgb2">
          <li ng-click="changeURL('wedo')"><a>What We Do</a></li>
          <li ng-click="changeURL('aboutus')"><a>About Us</a></li>
          <li ng-click="changeURL('clients')"><a>Clients</a></li>
          <li ng-click="changeURL('testimonials')"><a>Testimonials</a></li>
          <li ng-click="changeURL('blog')"><a>Blog</a></li>
          <li ui-sref="blog({ name : 'mediainthenews' })"><a>Media</a></li>
          <li ng-click="changeURL('workshop')"><a>Workshops</a></li>
          <li ng-click="changeURL('brainwave')"><a>Brainwave</a></li>
          <li ng-click="changeURL('contact')"><a>Contact Us</a></li>
          <li ui-sref="sitemap"><a>Sitemap</a></li>
        </ul>

        <div class="row">
          <div class="col-md-12">
            <p>
              Yellow Seed and the 'Yellow Seed' logo are registered trademarks of [YSCS] Yellow Seed Content Solutions Pvt. Ltd.</p>
            <p> All supporting activities and operating under/thereof are solely owned by and remain the intellectual property
              of YSCS. Copyright 2012-2018. Yellow Seed Content Solutions Pvt. Ltd. All rights reserved. </p>
            <!-- <p><a target="_blank" href="http://www.ting.in">Designed by TING</a></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div ng-show="template.isLoader" style="text-align:center" ; class="loaderHeader">
  <img src="img/loader.gif" alt="" / style="margin:0 auto;">
</div>