<footer class="inner-foot">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="list-inline">
         <li  ng-click="changeURL('abouts')"><a>About Us</a></li>
          <li ng-click="changeURL('wedo')"><a>What We Do</a></li>
          <li ng-click="changeURL('clients')"><a>Clients</a></li>
          <li ng-click="changeURL('testimonials')"><a>Testimonials</a></li>
          <li ng-click="changeURL('workshop')"><a >Workshops</a></li>
          <li ng-click="changeURL('brainwave')"><a >Brainwave</a></li>
          <!-- <li ng-click="changeURL('media')"><a>Media</a></li> -->
          <li ng-click="changeURL('contact')"><a >Contact Us</a></li>
        </ul>

        <div class="row">
          <div class="col-md-12">
            <p>
              Yellow Seed and the 'Yellow Seed' logo are registered trademarks of [YSCS] Yellow Seed Content Solutions Pvt. Ltd.</p>
            <p> All supporting activities and operating under/thereof are solely owned by and remain the intellectual property
              of YSCS. Copyright 2012. Yellow Seed Content Solutions Pvt. Ltd. All rights reserved. </p>
            <p><a target="_blank" href="http://www.ting.in">Designed by TING</a> | <a target="_blank" href="http://www.ewebac.com">SEO by EWEBAC</a></p>
          </div>
          <!--<div class="col-md-2"></div>-->
        </div>
      </div>
      <!-- <div class="col-md-6">
                <p>Copyright &copy; {{template.year}}. All Right Resvered.</p>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <p>Developed by <a href="http://www.wohlig.com" target="_blank">Wohlig Technology</a>.</p>
                </div>
            </div> -->
    </div>
  </div>
</footer>
