<div class="brand-modal">
    <div class="row">
        <div class="col-md-12">
            <div class="b-content">
                <div class="close-brand" ng-click="$close()"><span>X</span></div>
                <div class="brand-img">
                    <img src="img/home-page/clients/atomicads.png" alt="">
                </div>
                <div class="txt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, itaque dolor animi beatae labore
                        quod laborum asperiores omnis odit praesentium sit delectus laudantium cupiditate, sed nam, distinctio
                        obcaecati tempore vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, itaque
                        dolor animi beatae labore quod laborum asperiores omnis odit praesentium sit delectus laudantium
                        cupiditate, sed nam, distinctio obcaecati tempore vitae.
                    </p>
                    <p><span>Industry: Entertainment</span></p>
                </div>
            </div>
        </div>
    </div>
</div>